{% extends "base.html" %}

{% block title %}Global Marine Protected Areas - list view{% endblock %}

{% block base_body_content %}
    <div class='modetoggle medium' style="float:right;">
        <a class="modebutton" href="/">Map View</a><a class="modebutton selected" >List View</a>
    </div>
    
    <div id='filters_overlay' style="width:90%;">
        <p class="filterstitle medium">Quick Filters:  <a class="addfilter" href="#" onclick="showfilterdialog(); return(false);" title="Add new MPA filter"><em>+</em> Add Filter</a></p>
	    <p class="filtertag"><span class="filtername">Protection:</span> All Levels <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>
	    <p class="filtertag"><span class="filtername">Countries:</span> All <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>
	    <div class="clear"></div>
	</div>
    
    <br /><br />
    
    <p class="heading" style="margin:0px; padding:0; font-size:24px; line-height:28px;">
        Global Marine Protected Areas
    </p>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
    {% if mpa_list %}
        <ul>
        {% for mpa in mpa_list %}
            <li style="padding-bottom:3px;"><a href="{% url mpa-siteinfo mpa.pk %}" style="text-decoration:none;"><span style="font-size:1.2em;">{{ mpa.name }}</span> <em>({{ mpa.designation_eng }})</em> - {{ mpa.country }}</a></li>
        {% endfor %}
        </ul>
    
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No Marine Protected Areas are available.</p>
    {% endif %}
{% endblock %}