{% extends "base.html" %}

{% block title %}{{ mpa.name }}{% endblock %}

{% block base_body_content %}
    <div class='modetoggle medium' style="float:right;">
        <a class="modebutton" href="/">Map View</a><a class="modebutton" href="{% url wdpa-siteslist %}">List View</a>
    </div>

    <h3 style="float:left; margin-bottom:4px;">{{ mpa.country }}</h3>
    <p class="heading clear" style="margin:0px; padding:0; font-size:32px; line-height:38px; margin-bottom:10px;">
        {{ mpa.name }}
        <span style="font-size:20px;">{{ mpa.desig_eng }} {% if mpa.desig_eng != mpa.desig %}({{ mpa.desig }}){% endif %}</span>
    </p>
    
    <div id="leftcol" style="float:left; width:34%;">
        <div style="border:1px solid black; border-radius:8px; padding:8px; margin-bottom:8px; background-color:#3C6289; color:white;">
            Protection Level: 
            {% if mpa.name == 'Cabo Pulmo' %}
                <div style="color:black; padding:2px; border-radius:4px; border: 1px solid silver; background-color: #6F6; width:80%;">High</div>
            {% else %}{% if mpa.name == 'Galapagos Marine Reserve' %}
                <div style="color:black; padding:2px; border-radius:4px; border: 1px solid silver; background-color: #F55; width:40%;">Low</div>
            {% else %}
                <div style="color:black; padding:2px; border-radius:4px; border: 1px solid silver; background-color: orange; width:60%;">Moderate</div>
            {% endif %}{% endif %}
            <br />
            Conservation Effectiveness: 
            {% if mpa.name == 'Galapagos Marine Reserve' or mpa.name == 'Stellwagen Bank National Marine Sanctuary' %}
                <div style="color:black; padding:2px; border-radius:4px; border: 1px solid silver; background-color: orange; width:60%;">Moderate</div>
            {% else %}    
                <div style="color:black; padding:2px; border-radius:4px; border: 1px solid silver; background-color: #6F6; width:80%;">High</div>
            {% endif %}
        </div>
        <div class="sidebar_item_title">Site Information</div>
    	<div class="sidebar_item_content siteinfo">
    		<ul class="infolist" style="list-style:none; margin:0; padding:0;">
            {% for key, value in mpa.myfieldslist %}
                {% if not key == 'geom' and not key == 'geog' and not key == 'geom_smerc' and not key == 'bbox' and not key == 'bbox_geojson' and not key == 'point_within' %}
                <li style="border-bottom:1px solid #555;"> <strong class="name">{{ value.verbose }}</strong>: <span class="value" style="margin-left:4px;">{{ value.value|truncatewords:20 }}</span></li>
                {% endif %}
            {% endfor %}
            </ul>
            <div class="infoexpander"><span style="font-style:normal;">⤋</span> See all data records for this site</div>
    	</div>
    </div>
    <div id="rightcol" style="float:right; width: 66%;">
        <div style="padding: 8px;">
            <div class="sidebar_item_title">Site Description</div>
        	<div class="sidebar_item_content">
        	    {% if mpa.name == 'Cabo Pulmo' %}
                <p>
                    Cabo Pulmo National Marine Park, encompassing approximately 20.7 nautical miles, is a marine protected area located about 40 miles north of San Jose del Cabo on the eastern cape of Baja.  This National Marine Park was established in 1995 by the Mexican government to safeguard the largest coral community in the Gulf of California.  The seven fingers of coral off Cabo Pulmo comprise the most northerly living reef in the eastern Pacific and is home to the only living hard coral reef in the Gulf of California. The 25,000-year-old reef is comprised of 25 different species of coral and 226 species of fish frequent its waters.
                </p>
                <p>
                    Additional species found in the Marine Park include humpback whales, grey whales, orcas, dolphins, sharks, marlins, and manta rays.  In addition, it is a safe haven for five endangered species of sea turtles, leatherback and olive ridleys nest on its beaches.  Cabo Plumo National Marine Park is a no-take marine reserve – fishing is banned.
                </p>
                {% else %}{% if mpa.name == 'Galapagos Marine Reserve' %}
                <p>
                    The Galápagos Marine Reserve, encompassing 133,000 square kilometers (roughly 40nm), was created on March 18, 1998.  The Reserve was established to protect the marine ecosystems and resources around the Galapagos Islands.  These ecosystems are made up of roughly 3000 (currently known) species of marine plants and animals.  It is estimated that 25 percent of the marine species are endemic to the Galápagos Marine Reserve.   These species include marine mammals like whales, dolphins, and sea lions. The area also provides much needed sustenance to species that spend much of their time on land but forage at sea such as; penguins, cormorants, sea lions, and albatrosses. The Galápagos Marine Reserve became a World Heritage Site in 2001.  It has several management zones including multi and limited use.
                </p>
                {% else %}{% if mpa.name == 'Stellwagen Bank National Marine Sanctuary' %}
                <p>
                    The Gerry E. Studds Stellwagen Bank National Marine Sanctuary, an 842-square-mile (638-square-nautical-mile) marine protected area at the mouth of Massachusetts Bay, was established on November 4, 1992.  The Sanctuary was created to conserve and enhance biodiversity as well as protect the cultural heritage of the area.   The Sanctuary lies entirely within federal waters and is an ecologically important area for groundfish species like cod, haddock and flounder.  Atlantic bluefin tuna, large sharks, and large schools of herring are also found within the Sanctuary’s boundaries. The area is also an important foraging ground for many whale species.  The sanctuary is open to both commercial and recreational fishing but prohibits certain activities like sand and gravel mining, transferring petroleum products, and taking or harming marine mammals, birds and turtles.
                </p>
                {% else %}
        		<p>
        		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac malesuada velit. Pellentesque fermentum quam eget lorem rutrum sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis pulvinar ligula id porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc elementum turpis eget mi ornare varius. Maecenas at sapien et sapien consectetur rhoncus. Vivamus dignissim eros at risus ultricies vehicula. Etiam tortor augue, eleifend sed porta quis, sollicitudin eu neque. Nullam mollis condimentum est id adipiscing. Fusce id ante non nisi faucibus convallis et ut lacus. Proin volutpat pretium lectus, ac hendrerit ligula pharetra sit amet. Vestibulum laoreet, turpis sed pulvinar sollicitudin, mi dolor mattis orci, eu sagittis massa risus aliquet diam. Sed ut sem sapien, nec convallis odio. Vivamus feugiat, purus at vulputate lacinia, augue libero pulvinar mi, id semper arcu purus ut neque. Ut quis tincidunt neque.
        		</p>
        		
        		<p>
                    Suspendisse auctor, lectus sit amet gravida scelerisque, elit metus egestas ligula, blandit accumsan tortor est a enim. Sed rutrum lacinia nisi, sed hendrerit tortor adipiscing nec. Cras tristique sem vel felis vulputate sit amet sollicitudin tortor vehicula. Duis lectus nunc, commodo eu porta vel, cursus eu massa. Vestibulum quis egestas lacus. In pretium lorem nec nunc vestibulum in tristique leo scelerisque. In risus tortor, suscipit porta commodo vel, molestie sed urna. Sed fringilla magna non urna lacinia faucibus. Maecenas vel sollicitudin nisl. Praesent nulla nisi, aliquam id viverra vel, venenatis et lacus.
                </p>
                {% endif %}{% endif %}{% endif %}
        	</div>

        	<div class="sidebar_item_title">Nearby Sites</div>
        	<div class="sidebar_item_content">
        	    Showing nearest 5 MPAs (&lt; 500km away)<br />
        	    {% comment %}
                        {% for nearmpa in mpa.getnearbyareas %}
        		    {{ nearmpa.name }}: {{ nearmpa.distance.km }} km<br />
        		{% endfor %}
                    {% endcomment %}
        	</div>
        	
        	<div class="sidebar_item_title">Contacts &amp; Resources</div>
        	<div class="sidebar_item_content">
        	    
        	</div>
    	</div>
    </div>
    <div class="clear"></div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
