{% comment %}
{% load sekizai_tags %}
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<title>MPAtlas » {% block title %}{% endblock %}</title>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		{% comment %}
		{% render_block "css" %}
		{% endcomment %}
		
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
		<!--
		<link href='http://fonts.googleapis.com/css?family=Quicksand:400,300|Josefin+Sans:300,400|Marvel|Yanone+Kaffeesatz:200,300|Jura:400,300' rel='stylesheet' type='text/css'>
		-->
		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/fonts2.css" type="text/css" charset="utf-8">
    	<style type="text/css" media="screen">
    	    body {font: 12px/20px 'TitilliumText22LRegular', Arial, sans-serif; line-height: 1.25;}
    	    h1, .heading {font: 50px/56px 'TitilliumText22LRegular', Arial, sans-serif; letter-spacing: 0;}
    	    .heading.bold {font: 50px/56px 'TitilliumText22LBold', Arial, sans-serif; letter-spacing: 0;}
    		.thin {font: 18px/27px 'TitilliumText22LThin', Arial, sans-serif;}
    		.light {font: 18px/27px 'TitilliumText22LLight', Arial, sans-serif;}
    		.regular {font: 18px/27px 'TitilliumText22LRegular', Arial, sans-serif;}
    		.medium {font: 18px/27px 'TitilliumText22LMedium', Arial, sans-serif;}
    		.bold {font: 18px/27px 'TitilliumText22LBold', Arial, sans-serif;}
    		.xbold {font: 18px/27px 'TitilliumText22LXBold', Arial, sans-serif;}
    	</style>
		
		<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/main.css" media="screen" rel="stylesheet" type="text/css" />
		
		{% block base_head_extra %}{% endblock %}
		
	</head>
	<body>
		<div id='header_full'>
			<div id='header_center'>
			    <a id="mainlogo" href="/">MPAtlas - discover the world's marine protected areas</a>
			    <a id="waittlogo" href="/">brought to you by the Waitt Foundation</a>
			    <ul id="mainmenu">
			        <li class="selected">
			            <a href="/">Explore</a>
			            <ul>
			                <li>
			                    <a href="/">Map</a>
			                </li>
			                <li>
			                    <a href="/mpa/sites">List</a>
			                </li>
			            </ul>
			        </li>
			        <li>
			            <a href="/">Learn</a>
			        </li>
			        <li>
			            <a href="/">News</a>
			        </li>
			    </ul>
			    
			    <form id="mainsearchform" name="mainsearchform" class="searchform" method="get" action="/mpa/sites/?">
                    <fieldset class="search">
                        <input type="text" class="text defaultValue" name="q" id="mainsearchbox" data-placeholder="Search for an MPA or Country" placeholder="Search for an MPA or Country" value="Search for an MPA or Country">
                    	<input type="image" alt="Search" src="{{ STATIC_URL }}images/header_searchbutton.png" class="image">
                    </fieldset>
                </form>
			    
			    <a id="helpbutton" href="/help">Help</a>
                
			</div>
		</div>
		<div id='body_full'>
			{% block base_body_content %}{% endblock %}
		</div>
		<div id='footer_full'>
			<div id='footer_center' style="position:relative; width:960px; height:86px; margin:0 auto 0 auto;">
			    <div id='footer_bluebar' style="height:28px;"></div>
			    <div id='footer_graybar'>
			        <img src="{{ STATIC_URL }}images/footer_logos.png" style="margin-top:6px;" />
			    </div>
			</div>
		</div>
		{% block base_body_extra %}{% endblock %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
		{% comment %}
		{% render_block "js" %}
		{% endcomment %}
		<script>
        	$(function() {
    		    $( "#mainsearchbox" ).autocomplete({
        			source: function( request, response ) {
        				$.ajax({
        					url: "/mpa/sites/json/?q="+request.term,
        					success: function( data ) {
        						response( $.map( data.mpas, function( item ) {
        							return {
        								label: item.name + (item.designation ? ", " + item.designation : "") + ", " + item.country,
        								value: item.name,
        								url: item.url
        							}
        						}));
        					}
        				});
        			},
        			minLength: 2,
        			select: function( event, ui ) {
        			    if (ui.item) {
        			        window.location = ui.item.url
        			    }
        			}
        		});
        		
        		// Prep all search boxes to hack in default value placeholder
                $('form input:text.defaultValue, form textarea.defaultValue').each(function(){
    		        $.data(this, 'default', $(this).attr("data-placeholder"));
    		    }).focus(function(){
    		        if ($.data(this, 'default') == $(this).val()) {
    		            $(this).val('');
    		        }
    				$(this).removeClass('defaultValue');

    		    }).blur(function(){
    		        if ($(this).val() == '') {
    		            $(this).val($.data(this, 'default'));
    		        }
    				$(this).addClass('defaultValue');
    		    });
    		    
    		    {% block js_onready %}{% endblock %}
    		    
        	});
        </script>
        {% block bodyend_js %}{% endblock %}
	</body>
</html>

