{% load url from future %}
{% comment %}
{% load sekizai_tags %}
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<title>MPAtlas » {% block title %}{% endblock %}</title>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		
		{% comment %}
		{% render_block "css" %}
		{% endcomment %}
		
		<!--
		<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		-->
		
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,500,600,700|Josefin+Sans:300,400,500,600,700,800' rel='stylesheet' type='text/css' />
		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/fonts2.css" type="text/css" charset="utf-8" />
		
		<link href="{{ STATIC_URL }}css/main.css" media="screen" rel="stylesheet" type="text/css" />
		
		<script src="{{ STATIC_URL }}js/require.js" type="text/javascript"></script>
		
		{% block base_head_extra %}
		<script type="text/javascript">
            require({
                baseUrl: '{{ STATIC_URL }}js',
                paths: {
                    jquery: '//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min',
                    jqueryui: '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min'
                },
                priority: ['jquery']
            }, ['jquery', 'jqueryui'],     function() {
    		    $( "#mainsearchbox" ).autocomplete({
        			source: function( request, response ) {
        				$.ajax({
        					url: "/mpa/sites/json/?q="+request.term,
        					success: function( data ) {
        						response( $.map( data.mpas, function( item ) {
        							return {
        								label: item.name + (item.designation ? ", " + item.designation : "") + ", " + item.country,
        								value: item.name,
        								url: item.url
        							}
        						}));
        					}
        				});
        			},
        			minLength: 2,
        			select: function( event, ui ) {
        			    if (ui.item) {
        			        window.location = ui.item.url
        			    }
        			}
        		});

        		// Prep all search boxes to hack in default value placeholder
                $('form input:text.defaultValue, form textarea.defaultValue').each(function(){
    		        $.data(this, 'default', $(this).attr("data-placeholder"));
    		    }).focus(function(){
    		        if ($.data(this, 'default') == $(this).val()) {
    		            $(this).val('');
    		        }
    				$(this).removeClass('defaultValue');

    		    }).blur(function(){
    		        if ($(this).val() == '') {
    		            $(this).val($.data(this, 'default'));
    		        }
    				$(this).addClass('defaultValue');
    		    });

    		    {% block js_onready %}{% endblock %}

        	});
        </script>
		{% endblock %}
		
	</head>
	<body>
		<div id='pagewrapper'>
    		<div id='header_full'>
    			<div id='header_center'>
    			    <a id="mainlogo" href="/">MPAtlas - discover the world's marine protected areas</a>
    			    <a id="waittlogo" href="/">brought to you by the Waitt Foundation</a>
    			    <ul id="mainmenu">
    			        <li class="selected">
    			            <a href="/">Explore</a>
    			            <ul>
    			                <li>
    			                    <a href="/">Map</a>
    			                </li>
    			                <li>
    			                    <a href="/mpa/sites">List</a>
    			                </li>
    			            </ul>
    			        </li>
    			        <li>
    			            <a href="/">Learn</a>
    			        </li>
    			        <li>
    			            <a href="/">News</a>
    			        </li>
    			    </ul>
			    
    			    <form id="mainsearchform" name="mainsearchform" class="searchform" method="get" action="/mpa/sites/?">
                        <fieldset class="search">
                            <input type="text" class="text defaultValue" name="q" id="mainsearchbox" data-placeholder="Search for an MPA or Country" placeholder="Search for an MPA or Country" value="Search for an MPA or Country" />
                        	<input type="image" alt="Search" src="{{ STATIC_URL }}images/header_searchbutton.png" class="image" />
                        </fieldset>
                    </form>
			    
    			    <a id="helpbutton" href="/help">Help</a>
    			    
    			    <div class='useraccount' style='float:right; color:white; margin-top:8px;'>
    			    {% if user.is_authenticated %}
    			        Welcome, {{ user.first_name }} <a id='user_logout' style='font-size:.8em; color:black; text-decoration:none; color: #222;' href='/users/logout?next={{ request.path }}'>[x]</a>
    			    {% else %}
    			        <div id='user_logintab' style='display:block; position:relative; color:white; background-color:#eee; border-radius:4px 4px 0 0; padding-left:4px; padding-right:4px;'>
    			            Sign In
    			            <div style='position:absolute; right:0; min-width:200px; color:#666; padding:8px; border:1px solid #999; background-color:#eee; border-radius:8px 0 8px 8px; z-index:9999;'>
    			                {% if form.errors %}
                                    <p>Your username and password didn't match. Please try again.</p>
                                {% endif %}

                                <form action="{% url 'django.contrib.auth.views.login' %}" method="post" class="login_form">
                                    {% csrf_token %}
                                    <p>
                                        <label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" />
                                    </p>
                                    <p>
                                        <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
                                    </p>
                                    <p class="submit">
                                        <button type="submit" name="submit" value="login">Log in</button>
                                    </p>
                                    <input type="hidden" name="next" value="{{ request.path }}" />
                                </form>
    			            </div>
    			        </div>
    			    {% endif %}
    			    </div>
                
    			</div>
    		</div>
    		<div id='body_full'>
    			{% block base_body_content %}{% endblock %}
    		</div>
    		<div id='footer_full'>
    			<div id='footer_center' style="position:relative; width:960px; height:86px; margin:0 auto 0 auto;">
    			    <div id='footer_bluebar' style="height:28px;"></div>
    			    <div id='footer_graybar'>
    			        {% block base_footer_content %}{% endblock %}
    			        <img src="{{ STATIC_URL }}images/footer_logos.png" style="margin-top:6px;" alt="" />
    			    </div>
    			</div>
    		</div>
		</div>
		{% block base_body_extra %}{% endblock %}
		{% comment %}
		{% render_block "js" %}
		{% endcomment %}
        {% block bodyend_js %}{% endblock %}
	</body>
</html>

