{% extends "base_old.html" %}
{% load staticfiles %}
{% load cms_tags sekizai_tags i18n humanize %}

{% block title %}Explore{% endblock %}

{% block base_head_extra %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=no" />

<!--<link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/4.1.1/resources/css/ext-all-access.css"/>-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ext-all-access-scoped.css"/>

{% comment %}
<link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.ie.css" /><![endif]-->
{% endcomment %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->

<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" />

<link href="{{ STATIC_URL }}css/map.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]><link href="{{ STATIC_URL }}css/map_ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

<script type="text/javascript">
    // Here we define Ext for the first time
    Ext = {
        buildSettings:{
            "scopeResetCSS": true  // Thanks, but I'll do my own scoping please
        }
    };
</script>

<script type="text/javascript">
    System.import('{% static "js" %}/app').then(function(App) {
        $(function() {
            window['mpatlas'] = new App.MPAtlas($('#leafletmap'));
            if (mpatlas.history.get('seensplash') != 'true') {
                showsplashdialog();
                mpatlas.history.set('seensplash', 'true');
            }

            System.import('{% static "js" %}/MPAList').then(function(MPAList) {
				Ext.onReady(function() {
					MPALayersWindow.load(mpatlas);
					MPAFiltersWindow.load(mpatlas);
				});
			});
        });
    });
</script>
{% endblock %}

{% block base_fblike %}
{% endblock %}

{% block base_body_content %}
<div id="leafletmap" style="position:absolute; top:0; bottom:0; left:0; right:0; z-index:0;"></div>
<div id="stats_overlay" class="hidden-xs">
	<div>
		<div class="stats_header medium">All Marine Protected Areas</div>
		<div class="heading bold" style="font-size:40px; line-height:1em; color:#4398d1;">2.98<span style="font-size:0.75em;">%<br /></span></div>
		<div class="heading" style="font-size:18px; line-height:18px; color:#fff;">of global ocean</div>

		<div class="heading bold" style="font-size:26px; line-height:1em; margin-top:10px; color:#4398d1;">7.29<span style="font-size:0.75em;">%<br /></span></div>
		<div class="heading" style="font-size:18px; line-height:18px; color:#fff;">in national jurisdictions (EEZs)</div>
	</div>

	<div style="margin-top:10px; padding-top:10px; border-top:1px solid #666;">
		<div class="stats_header medium">Strongly Protected Reserves</div>
		<div class="heading bold" style="font-size:40px; line-height:1em; color:#09c478;">1.63<span style="font-size:0.75em;">%<br /></span></div>
		<div class="heading" style="font-size:18px; line-height:18px; color:#fff;">of global ocean</div>
	</div>

	<div style="margin-top:10px; padding-top:10px; border-top:1px solid #666;">
		<div class="stats_header medium">Proposed & Unimplemented MPAs</div>
		<div class="heading bold" style="font-size:40px; line-height:1em; color:#aaa;">+3.42<span style="font-size:0.75em;">%<br /></span></div>
		<div class="heading" style="font-size:18px; line-height:18px; color:#fff;">of global ocean</div>

		<div class="heading bold" style="font-size:26px; line-height:1em; color:#aaa;">+6.33<span style="font-size:0.75em;">%<br /></span></div>
		<div class="heading" style="font-size:18px; line-height:18px; color:#fff;">in national jurisdictions (EEZs)</div>
	</div>

	<div style="margin-top:10px; padding-top:10px; border-top:1px solid #666;">
		<div class="stats_header medium">Total Designated MPAs</div>
		<div id="stats_total_mpas" class="heading bold" style="font-size:26px; line-height:1em; color:#4398d1;">
			{{ mpa_count.implemented|intcomma }}
			<br/ >
			<span style="font-size:18px;">({{ mpa_count.designated_unimplemented|intcomma }} unimplemented)</span>
		</div>
	</div>

	<p id="stats_mpas_current_filter" style="display:none;">&nbsp;</p>

</div>

{% endblock %}

{% block base_body_extra %}
<div id='body_list_full'>
	<div id="list-bg"></div>
	<div id="mpa-list-container"></div>
</div>

{% comment %}
<div id='filters_overlay'>
		<p class="filterstitle medium">Quick Filters:  <a class="addfilter" href="#" onclick="MPAFiltersWindow.showWindow();return(false);" title="Add new MPA filter"><em class="addicon">+</em> Add Filter</a></p>
		<a class="filtertag" style="text-decoration:none;" href="#" onclick="MPAFiltersWindow.clearFilters();return(false);" title="Remove All Filters"><em class="addicon">-</em> Remove All Filters</a>
		
		<!--<p class="filtertag"><span class="filtername">Protection:</span> All Levels <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>
		<p class="filtertag"><span class="filtername">Countries:</span> All <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>-->
</div>
{% endcomment %}

<div id='modetoggle_overlay'>
	<div class='modetoggle medium'>
		<a id="btnMapMode" class="modebutton selected" href="#" onclick="mpatlas.switchToMapView()">Map View</a><a id="btnListMode" class="modebutton" href="#" onclick="mpatlas.switchToListView()">List View</a>
	</div>
</div>

<!--
<div id="addfilterdialog" title="Add a new MPA filter" style="display:none;">
	<p>
	    FEATURE IN DEVELOPMENT!
	</p>
	<p>
	    Configure a custom filter to parse the global MPAs by relevant spatial, political, biogeographic criteria.  Your custom filters display as a tag along the top of the map.
	</p>
	<img src="//static.mpatlas.org/images/filters/filter_demo.png" alt="" />
</div>


<div id="maptip" class="maptip hidden transparent">
	<div class="maptip-arrow-container">
		<div class="maptip-arrow"></div>
	</div>
	<div id="maptip-content" class="maptip-content"></div>
</div>
-->
{% endblock %}

{% block base_footer_content %}
<div id="explore_toolbar" class="explore_toolbar">
	<div style="float:left; padding-top:8px; padding-right: 10px; font-size:16px; font-weight:400; font-family: 'Yanone Kaffeesatz', 'TitilliumText22LMedium'" class="explore_title">
		Explore <br />MPAS by:
	</div>
	<div id="explore_mpas" class="explore_button" onclick="mpatlas.setExploreMode('mpas')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Identify <br /><span class="explore_button_heavytext">Marine Protected Areas</span>
	</div>
	<div id="explore_nation" class="explore_button" onclick="mpatlas.setExploreMode('nation')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Nation</span>
	</div>
	<!--
	<div id="explore_meow" class="explore_button" onclick="mpatlas.setExploreMode('meow')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Ecoregion</span>
	</div>
	-->
	<!--
	<div id="explore_fao" class="explore_button" onclick="mpatlas.setExploreMode('fao')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Other Region</span>
	</div>
	-->
</div>
{% endblock %}

{% block bodyend_js %}

{% endblock %}
