{% extends "base.html" %}
{% comment %}
{% load sekizai_tags %}
{% endcomment %}

{% block title %}Explore{% endblock %}

{% block base_head_extra %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=no" />

<!--<link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.1.0-gpl/resources/css/ext-all-access.css"/>-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ext-all-access-scoped.css"/>

{% comment %}
<link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.ie.css" /><![endif]-->
{% endcomment %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->

<link href="{{ STATIC_URL }}css/map.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]><link href="{{ STATIC_URL }}css/map_ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

<script type="text/javascript">
    // Here we define Ext for the first time
    Ext = {
        buildSettings:{
            "scopeResetCSS": true  // Thanks, but I'll do my own scoping please
        }
    };
    
    require.config({
        baseUrl: '{{ STATIC_URL }}js',
        paths: {
            jquery: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min',
            jqueryui: '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min',
            bootstrap: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min',
            leaflet: '//cdn.leafletjs.com/leaflet-0.7.3/leaflet',
            //leaflet: '{{ STATIC_URL }}Leaflet/leaflet',
            json2: '//ajax.cdnjs.com/ajax/libs/json2/20110223/json2',
            underscore: 'underscore-min',
			backbone: 'backbone-min',
			//extjs: 'http://cdn.sencha.io/ext-4.0.7-gpl/ext-all'
    		extjs: '//cdn.sencha.io/ext-4.1.1-gpl/ext-all',
    		bootstrap: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min'
            //underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min', // versions pre 1.3.0 have problems when used with backbone via requireJS
            //backbone: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min'
        },
        //priority: ['jquery']
		priority: [
			'leaflet'
		],
		waitSeconds: 30,
        use: {
		    'underscore': {
		        attach: '_'
		    },
		    'backbone': {
		        deps: ['use!underscore', 'jquery'].concat(!(typeof JSON !== 'undefined' && typeof JSON.stringify === 'function') ? ['json2'] : []),
		        attach: 'Backbone'
		    },
		    'jqueryui': {
		        deps: ['jquery']
		    },
		    'bootstrap': {
                deps: ['jquery']
            }
		}
    });
    require([
        'prep',
        'app',
        'MPAList',
		'MPALayersWindow',
		'MPAFiltersWindow',
		'json/mpa_points',
        'jquery',
		'use!jqueryui',
		'use!bootstrap'
    ], function(Prep, App, MPAList) {
        $(function() {
            Prep.preparePage();
            window['mpatlas'] = new App.MPAtlas($('#leafletmap'));
            window['showsplashdialog'] = Prep.showsplashdialog;
            //console.log(mpatlas.history.get('seensplash'));
            if (mpatlas.history.get('seensplash') != 'true') {
                showsplashdialog();
                mpatlas.history.set('seensplash', 'true');
            }
            //console.log(mpatlas.history.get('seensplash'));

						Ext.onReady(function() {
								MPALayersWindow.load(mpatlas);
								MPAFiltersWindow.load(mpatlas);
						});

        });
    });

</script>
{% endblock %}

{% block base_fblike %}
{% endblock %}

{% block header_post_user %}
<div style="float:right; margin-top:8px;">
    <div style="float:left; margin-right:15px;">
        <a href="https://twitter.com/MPAtlas" style="margin-right:10px;" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @MPAtlas</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div style="float:left; width:110px;">
        <fb:like send="false" layout="button_count" width="110" show_faces="false"></fb:like>
    </div>
</div>
{% endblock %}

{% block base_body_content %}
<div id="leafletmap" style="position:absolute; top:0; bottom:0; left:0; right:0; z-index:0;"></div>
<div id='stats_overlay'>
	<div class="stats_header medium">Currently Protected</div>
	<div class="heading bold">2.09<span style="font-size:0.75em;">%</span></div>

	<div class="stats_box_header" style="margin-top:12px;">
		<span class="medium">Protection Statistics</span>
	</div>
	<div class="stats_box" style="font-size:14px;">
		<div id="stats_total_mpas"><b>Total MPAs:</b> 6594</div>
		<div id="stats_total_mpas"><b>No Take Area:</b> 0.83% of ocean area</div>
		<!--
		<div id="stats_mpas_within_eezs"><b>Within EEZs:</b> ???</div>
		<div id="stats_mpas_within_highseas"><b>High Seas:</b> ???</div>
		<div id="stats_mpas_no_take"><b>No Take:</b> ???</div>
	    -->
		<p id="stats_mpas_current_filter" style="display:none;">&nbsp;</p>
	</div>
    
	<div class="stats_box_header" style="margin-top:27px;">
		<span class="medium">Help Us Improve MPAtlas</span>
	</div>
	<div class="stats_box" style="font-size:12px;">
	    <p>
    		Please use the feedback button on page-left to make suggestions,
    		comments, or to point out bugs.  You can help make this tool
    		better for everyone.
		</p>
	</div>

</div>

{% endblock %}

{% block base_body_extra %}
<div id='body_list_full'>
	<div id="list-bg"></div>
	<div id="mpa-list-container"></div>
</div>

{% comment %}
<div id='filters_overlay'>
		<p class="filterstitle medium">Quick Filters:  <a class="addfilter" href="#" onclick="MPAFiltersWindow.showWindow();return(false);" title="Add new MPA filter"><em class="addicon">+</em> Add Filter</a></p>
		<a class="filtertag" style="text-decoration:none;" href="#" onclick="MPAFiltersWindow.clearFilters();return(false);" title="Remove All Filters"><em class="addicon">-</em> Remove All Filters</a>
		
		<!--<p class="filtertag"><span class="filtername">Protection:</span> All Levels <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>
		<p class="filtertag"><span class="filtername">Countries:</span> All <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>-->
</div>
{% endcomment %}

<div id='modetoggle_overlay'>
	<div class='modetoggle medium'>
		<a id="btnMapMode" class="modebutton selected" href="#" onclick="mpatlas.switchToMapView()">Map View</a><a id="btnListMode" class="modebutton" href="#" onclick="mpatlas.switchToListView()">List View</a>
	</div>
</div>

<!--
<div id="addfilterdialog" title="Add a new MPA filter" style="display:none;">
	<p>
	    FEATURE IN DEVELOPMENT!
	</p>
	<p>
	    Configure a custom filter to parse the global MPAs by relevant spatial, political, biogeographic criteria.  Your custom filters display as a tag along the top of the map.
	</p>
	<img src="//static.mpatlas.org/images/filters/filter_demo.png" alt="" />
</div>


<div id="maptip" class="maptip hidden transparent">
	<div class="maptip-arrow-container">
		<div class="maptip-arrow"></div>
	</div>
	<div id="maptip-content" class="maptip-content"></div>
</div>
-->
{% endblock %}

{% block base_footer_content %}
<div id="explore_toolbar" class="explore_toolbar">
	<div style="float:left; padding-top:8px; padding-right: 10px; font-size:16px; font-weight:400; font-family: 'Yanone Kaffeesatz', 'TitilliumText22LMedium'" class="explore_title">
		Explore <br />MPAS by:
	</div>
	<div id="explore_mpas" class="explore_button" onclick="mpatlas.setExploreMode('mpas')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Identify <br /><span class="explore_button_heavytext">Marine Protected Areas</span>
	</div>
	<div id="explore_nation" class="explore_button" onclick="mpatlas.setExploreMode('nation')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Nation</span>
	</div>
	<!--
	<div id="explore_meow" class="explore_button" onclick="mpatlas.setExploreMode('meow')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Ecoregion</span>
	</div>
	-->
	<!--
	<div id="explore_fao" class="explore_button" onclick="mpatlas.setExploreMode('fao')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Other Region</span>
	</div>
	-->
</div>
{% endblock %}

{% block bodyend_js %}

{% endblock %}
