{% extends "base.html" %}
{% comment %}
{% load sekizai_tags %}
{% endcomment %}

{% block title %}Explore{% endblock %}

{% block base_head_extra %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=no" />

<link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/dist/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/dist/leaflet.ie.css" /><![endif]-->

<link href="{{ STATIC_URL }}css/map.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    require.config({
        baseUrl: '{{ STATIC_URL }}js',
        paths: {
            jquery: '//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min',
            jqueryui: '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min',
            //leaflet: '//leaflet.cloudmade.com/dist/leaflet',
            leaflet: '{{ STATIC_URL }}Leaflet/dist/leaflet',
            json2: '//ajax.cdnjs.com/ajax/libs/json2/20110223/json2',
            underscore: 'underscore-min',
			backbone: 'backbone-min',
			extjs: 'http://cdn.sencha.io/ext-4.0.7-gpl/ext-all'
    		// ext-js: 'cdn.terraweave.com/v/6.0/extjs/ext-all'
            //underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min', // versions pre 1.3.0 have problems when used with backbone via requireJS
            //backbone: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min'
        },
        //priority: ['jquery']
		priority: [
			'leaflet'
		],
		waitSeconds: 30,
        use: {
		    'underscore': {
		        attach: '_'
		    },
		    'backbone': {
		        deps: ['use!underscore', 'json2', 'jquery'],
		        attach: 'Backbone'
		    },
		    'jqueryui': {
		        deps: ['jquery']
		    }
		}
    });
    require([
        'prep',
        'app',
        // 'MPAList',
        'jquery',
		'use!jqueryui'
    ], function(Prep, App, MPAList) {
        $(function() {
            //Prep.preparePage();
            window['mpatlas'] = new App.MPAtlas($('#leafletmap'));
            window['showfilterdialog'] = function() {
                $("#addfilterdialog").dialog({
        			width: 600,
        			modal: true
        		});
            }
        });
    });

</script>
{% endblock %}

{% block base_body_content %}
<div id="leafletmap" style="position:absolute; top:0; bottom:0; left:0; right:0; z-index:0;"></div>
<div id='stats_overlay'>
	<div class="stats_header medium">Currently Protected</div>
	<div class="heading bold">1.2<span style="font-size:0.75em;">%</span></div>
</div>

{% endblock %}

{% block base_body_extra %}
<div id='filters_overlay'>
	<p class="filterstitle medium">Quick Filters:  <a class="addfilter" href="#" onclick="showfilterdialog(); return(false);" title="Add new MPA filter"><em class="addicon">+</em> Add Filter</a></p>
	<p class="filtertag"><span class="filtername">Protection:</span> All Levels <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>
	<p class="filtertag"><span class="filtername">Countries:</span> All <a class="remove" title="remove filter" href="#" onclick="return(false);">X</a></p>
	<div class="clear"></div>
</div>

<div id="maptip" class="maptip hidden transparent">
	<div class="maptip-arrow-container">
		<div class="maptip-arrow"></div>
	</div>
	<div id="maptip-content" class="maptip-content"></div>
</div>
{% endblock %}

{% block base_footer_content %}
<div id="explore_toolbar" class="explore_toolbar">
	<div style="float:left; padding-top:8px; padding-right: 10px; font-size:16px; font-weight:400; font-family: 'Yanone Kaffeesatz', 'TitilliumText22LMedium'" class="explore_title">
		Explore <br />MPAS by:
	</div>
	<div id="explore_mpas" class="explore_button" onclick="mpatlas.setExploreMode('mpas')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Identify <br /><span class="explore_button_heavytext">Marine Protected Areas</span>
	</div>
	<div id="explore_nation" class="explore_button" onclick="mpatlas.setExploreMode('nation')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Nation</span>
	</div>
	<div id="explore_meow" class="explore_button" onclick="mpatlas.setExploreMode('meow')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Ecoregion</span>
	</div>
	<!--
	<div id="explore_fao" class="explore_button" onclick="mpatlas.setExploreMode('fao')">
		<div class="explore_arrow_container"><div class="explore_arrow"></div></div>
		Protection Level by <br /><span class="explore_button_heavytext">Other Region</span>
	</div>
	-->
</div>
{% endblock %}

{% block bodyend_js %}

{% endblock %}
