{% extends "base.html" %}
{% comment %}
{% load sekizai_tags %}
{% endcomment %}

{% block title %}News{% endblock %}

{% block base_body_content %}
    <p class="heading clear" style="font-size: 32px; margin:5px 0px 5px 5px; padding:0px; color:#de744a;">
    	MPAtlas News
    </p>
    <h4 style="color:#666; margin-bottom:8px; padding-top:0; margin-top:0;">
    	The 100 most recent news articles related to marine protected areas and marine conservation from around the globe.
    </h4>
    <script type="text/javascript" src="http://output33.rssinclude.com/output?type=js&amp;id=471816&amp;hash=e9f9301855e8f7e5cfc66016e031d924"></script>
{% endblock %}

{% block base_body_extra %}

{% endblock %}

{% block base_footer_content %}

{% endblock %}

{% block bodyend_js %}

{% endblock %}
