{% load static %}
{% load cms_tags menu_tags sekizai_tags i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MPAtlas » {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="mpatlas.org">

        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700|Open+Sans+Condensed:200,300,400,500,600,700|Roboto+Condensed:400,400italic,700,700italic' rel='stylesheet' type='text/css' />

        <link rel="stylesheet" href="{% static 'css/fonts2.css' %}" type="text/css" charset="utf-8" />
        
        <!-- <link href="{% static 'css/jqueryui/mpatlas-theme/jquery-ui-1.8.21.mpatlas.css' %}" media="screen" rel="stylesheet" type="text/css" /> -->
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
        
        <link href="{% static 'css/v2_main.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <!--[if lte IE 8]><link href="{% static 'css/main_ie.css' %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

        <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        -->
        
        {% block base_head_init %}
        <script src="https://jspm.io/system@0.19.js"></script>
        <script type="text/javascript">
            System.import('bootstrap');
            System.import('underscore');
            System.import('backbone');
            System.import('{% static "js" %}/prep').then(function(Prep) {
                $(function() {
                    Prep.preparePage();
                    window['showsplashdialog'] = Prep.showsplashdialog;
                    //console.log(mpatlas.history.get('seensplash'));
                });
            });
        </script>
        {% endblock %}

        {% block base_head_extra %}

            {% block base_head_extra_extra %}{% endblock %}
        
        {% endblock %}

        {% render_block "css" %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32494450-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script type="text/javascript">
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '314437775301695', // App ID
              channelUrl : '//'+window.location.hostname+'{% static "js/facebook/channel.html" %}', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });

            // Additional initialization code here
          };

          // Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>
        {% cms_toolbar %}
        <div id='pagewrapper' class='{% block pagewrapper_class %}{% endblock %}'>
            <div id='header_full'>
                <div id='header_center'>
                    <a id="mainlogo" href="/">MPAtlas - discover the world's marine protected areas</a>
                    <ul id="mainmenu">
                        {% show_menu_below_id "dev_home" 0 0 %}
                    </ul>

                    <a id="helpbutton" href="#" onclick="showsplashdialog(); return(false);" title="About MPAtlas">Help</a>

                    <form id="mainsearchform" name="mainsearchform" class="searchform form-inline" method="get" action="/mpa/sites/?">
                        <fieldset class="search">
                            <div class="input-group input-group-sm" style="width:190px;">
                                <input type="text" class="form-control mpa-searchbox" name="q" id="mainsearchbox" data-placeholder="Search for an MPA" placeholder="Search for an MPA" value="" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        </fieldset>
                    </form>
                    
                    <div class='user_block'>
                    {% if user.is_authenticated %}
                        Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %} <a id='user_logout' href="{% url 'logout' %}?next={{ request.path }}">[x]</a>
                    {% else %}
                        <!--
                        <input style="float:right;" class="facebook" type="image" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_short.gif" alt="facebookconnect">
                        -->
                        <div id='user_logintab' style="float:right;">
                            <a id='user_loginlink' class='user_loginlink' href='/users/login?next={{ request.path }}'>Sign In</a>
                            <div id='user_loginformcontainer'>
                                <a href="/socialauth/login/facebook/">LOGIN with FACEBOOK</a>
                                {% if form.errors %}
                                    <p>Your username and password didn't match. Please try again.</p>
                                {% endif %}

                                <form id="user_loginform" action="{% url 'login' %}?next={{ request.path }}" method="post" class="login_form">
                                    {% csrf_token %}
                                    <div class="hide">
                                        <input type="hidden" name="next" value="{{ request.path }}" />
                                    </div>
                                    <p>
                                        <label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" />
                                    </p>
                                    <p>
                                        <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
                                    </p>
                                    <p class="submit">
                                        <button class="user_button user_login" type="submit" name="submit" value="login">Log in</button>
                                        <a href="{% url 'password_reset' %}?next={{ request.path }}">Forgot password?</a>
                                        <span class="clear"></span>
                                    </p>
                                </form>
                                <p class="user_signupblock">
                                    Not a member? <a id='user_signuplink' href="{% url 'signup' %}?next={{ request.path }}">Join Now!</a>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                    
                    {% block header_post_user %}
                    <nav class="subnav" style="float:right; margin-top:8px; margin-right:15px;">
                        <span style="margin-top:8px; margin-right:15px;">
                            <a href="/dev/about/">About</a>
                        </span>
                        <span style="margin-top:8px; margin-right:15px;">
                            <a href="/dev/reports-citations/">Reports & Citations</a>
                        </span>
                        <span style="margin-top:8px; margin-right:15px;">
                            <a href="/dev/news/">News</a>
                        </span>
                    </nav>
                    {% endblock %}
                
                </div>
                <div id='subheader'>
                    <div id='subheader_center'>
                        <ul class="submenu">
                            {% show_sub_menu 1 2 0 %}
                        </ul>
                        <ul class="submenu">
                            {% show_sub_menu 1 3 0 %}
                        </ul>
                        <ul class="submenu">
                            {% show_sub_menu 1 4 0 %}
                        </ul>
                        <ul class="submenu">
                            {% show_sub_menu 1 5 0 %}
                        </ul>
                        <ul class="submenu">
                            {% show_sub_menu 1 6 0 %}
                        </ul>
                        <ul class="submenu">
                            {% show_sub_menu 1 7 0 %}
                        </ul>
                    </div>
                </div>
            </div>
            {% block base_prebody_content %}{% endblock %}
            <div id='body_full'>
                {% block base_fblike %}
                {% endblock %}
                {% block content %}{% endblock %}
                {% block base_body_content %}{% endblock %}
            </div>
            <div id='footer_full'>
                <div id='footer_center' style="position:relative; width:960px; height:86px; margin:0 auto 0 auto;">
                    <div id='footer_bluebar' style="height:28px;"></div>
                    <div id='footer_graybar'>
                        {% block base_footer_content %}{% endblock %}
                        <a style="float:right;" target="_blank" href="#"><img src="{% static 'images/footer_winslow_logo.png' %}" style="margin-top:4px; height:45px; " alt="" /></a>
                        <a style="float:right;" target="_blank" href="http://waittfoundation.org"><img src="{% static 'images/footer_waitt_logo.png' %}" style="margin-top:4px; height:45px;" alt="" /></a>
                        <a style="float:right;" target="_blank" href="http://arntzfamilyfoundation.org"><img src="{% static 'images/footer_arntz_logo.png' %}" style="margin-top:4px; height:45px;" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        {% block base_body_extra %}{% endblock %}
        {% block splash_dialog %}
        <div id="splashdialog" title="Welcome to MPAtlas" style="display:none;">
            <p>
                Marine Conservation Institute and the Waitt Foundation provide this 
                interactive tool to help users visualize the locations and coverage of global 
                marine protected areas (MPA).  This atlas provides information on over 8000 MPAs 
                globally, drawing on datasets from the 
                <a class="normal" href="http://www.protectedplanet.net">World Database on Protected Areas</a><sup>1</sup>,
                <a class="normal" href="http://www.mpa.gov">US MPA Center</a><sup>2</sup>,  
                and other country- and regional-level data authorities, as well as research 
                conducted by the Marine Conservation Institute.
            </p><p>
                In addition to MPA boundaries and site management information, this dataset 
                contains information on conservation measures with a particular focus on those 
                restricting the exploitation of marine life.
            </p><p>
                Features on this site are designed to allow users to understand (1) where current 
                protection exists and at what level, and (2), where important areas for future protection 
                are and any processes underway to establish MPAs.  This provides vital information to 
                countries and their citizens interested in ocean conservation, management and stewardship.
            </p><p>
                The dataset is constantly being updated and we welcome visitors to the site to provide 
                feedback and update content by creating a member account on MPAtlas today.
            </p><p style="border-top:1px dotted #C94E85; color:#666;">
                Major Data Sources:
                <br />
                <span style="font-size:0.8em;">
                1: IUCN and UNEP. 2010. The World Database on Protected Areas (WDPA). UNEP-WCMC. Cambridge, UK. <a class="normal" href="www.protectedplanet.net">www.protectedplanet.net</a>
                <br />
                2: US MPA Center. 2012. Marine Protected Areas Inventory. <a class="normal" href="http://www.mpa.gov/dataanalysis/mpainventory/">http://www.mpa.gov/dataanalysis/mpainventory/</a>
                </span> 
            </p><p style="text-align:center;">
                <img style="width:337px; height:76px;" src="{% static 'images/logos/data_logos.png' %}" />
            </p>
        </div>
        {% endblock %}
        {% block bodyend_js %}{% endblock %}
        {% render_block "js" %}

        {% block uservoice %}
            <script type="text/javascript">
                var uvOptions = {};
                (function() {
                    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
                    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/So5wN1x390zOxll4baeaOQ.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
                })();
            </script>
        {% endblock %}
    </body>
</html>

