{% extends "base.html" %}
{% load staticfiles %}
{% load cms_tags sekizai_tags i18n %}

{% block title %}Home{% endblock %}

{% block base_head_extra %}

<script type="text/javascript">
    System.import('{% static "js" %}/progresschart').then(function(ProgressChart) {
        $(function() {
            var progresschart = new ProgressChart.ProgressChart();
            progresschart.makeChart();
        });
    });
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" rel="stylesheet">

<style>
  .doughnut-legend {
    list-style: none;
    padding-left: 8px;
  }
  .doughnut-legend li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
  }
  .doughnut-legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    border-radius: 5px;
  }
</style>

{% block base_head_extra_extra %}{% endblock %}

{% endblock %}

{% block base_fblike %}
{% endblock %}

{% block base_prebody_content %}
{% endblock %}


{% block base_body_content %}
    {% block base_body_content_inner %}
    {% placeholder "base_content" %}
    {% endblock %}

    {% block base_post_body_content %}{% endblock %}
    
{% endblock %}

{% block base_body_extra %}
{% endblock %}

{% block base_footer_content %}
{% endblock %}


{% block bodyend_js %}
{% endblock %}
