yolk
BeautifulSoup
#Django
git+git://github.com/mci/django.git@1.3.1_postgis2.0#egg=Django
Fabric
git+git://github.com/jlopez/maxmind-geoip.git#egg=GeoIP-Python
Pillow
Pygments
SQLAlchemy
South
boto
distribute
django-admin-tools
django-extensions
django-debug-toolbar
svn+http://django-filebrowser.googlecode.com/svn/branches/filebrowser3-no-grappelli/#egg:django-filebrowser
django-haystack
django-reversion<1.4
django-sekizai
django-staticfiles
#django-storages
hg+https://bitbucket.org/russmo/django-storages-multi#egg=django-storages
django-tinymce
docutils
easy-thumbnails==1.0-alpha-16
eventlet
feedparser
gevent
greenlet
gunicorn
ipython
mercurial
psycopg2==2.4.1
pygeoip
python-memcached
setproctitle
sorl-thumbnail