# Standard Python Package Tools
pip
setuptools
wheel

# Versioning Tools
mercurial

# DJANGO itself
Django<2

# Application and WSGI Utils
Werkzeug
eventlet
gevent
greenlet
gunicorn

# Database
psycogreen
psycopg2
SQLAlchemy
pysqlite; python_version < '3.0' # only needed on Python2, use sqlite3 in Python3 library

# Django Utils
django-admin-tools
django-appconf
django-appmedia
django-debug-toolbar
django-extensions
git+git://github.com/litchfield/django-safelogging.git@master#egg=django-safelogging
django-classy-tags

# Django Models, Fields, Addons
django-countries
django-durationfield
Unidecode
python-slugify
django-uuslug
django-taggit
django-cors-headers
django-reversion<2.0
django-select2

# Rich Text Editors
django-ckeditor
django-tinymce

# Django-Filer
django-filer

# DjangoCMS
django-cms
djangocms-admin-style
git+git://github.com/divio/djangocms-history#egg=djangocms-history
djangocms-attributes-field

# DjangoCMS Plugins
git+https://github.com/russmo/aldryn-bootstrap3.git#egg=aldryn-bootstrap3
aldryn-style
djangocms-text-ckeditor
git+https://github.com/russmo/cmsplugin-plaintext.git#egg=cmsplugin_plaintext_djangocms3
djangocms-file
djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-link
djangocms-picture
djangocms-snippet
djangocms-teaser
djangocms-video
cmsplugin-filer

# Images
Pillow
easy-thumbnails>=2.4
sorl-thumbnail

# Search
django-haystack

# CartoDB API
git+git://github.com/CartoDB/cartodb-python.git#egg=cartodb

# Authentication
git+https://github.com/mci/django-social-auth.git@django1.9#egg=django-social-auth
python-social-auth

# Spatial Libraries
Fiona
Shapely
django-shapes
geographiclib
git+https://github.com/sigma-geosistemas/django-shape-engine.git#egg=django_shape_engine

# Amazon Web Services
boto

# Location Services
python-geoip
python-geoip-geolite2
pygeoip
GeoIP

# Automation
Fabric

# Testing
pytest

# Other Python Utils
argparse
BeautifulSoup4
cryptography
docutils
feedparser
httplib2
ipython
jupyter
Markdown
ndg-httpsclient
oauth2
path.py
pycrypto
pyenchant
Pygments
python-memcached
setproctitle
simplejson
requests
requests_oauthlib
webencodings

# WIKI
git+git://github.com/benjaoming/django-wiki.git#egg=wiki

# NOT USED
#hg+https://bitbucket.org/russmo/django-storages-multi#egg=django-storages
#git+git://github.com/jlopez/maxmind-geoip.git#egg=GeoIP-Python
#django-filebrowser-no-grappelli

