{% extends "base.html" %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block base_head_extra %}

{% comment %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->
{% endcomment %}

<link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.ie.css" /><![endif]-->

<link href='{{ STATIC_URL }}css/leaflet.label.css' rel='stylesheet' />

<!-- <link href="{{ STATIC_URL }}css/sitedetail.css" media="screen" rel="stylesheet" type="text/css" /> -->

<link href="{{ STATIC_URL }}css/map.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]><link href="{{ STATIC_URL }}css/map_ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

<style>
    /*#leafletmap { position:absolute; top:0; bottom:0; width:100%; left:0; right:0; z-index:0;}*/

    #member-list {
        /*position:absolute;*/
        /*top:0; right:0; width:200px;*/
        /*bottom:0;*/
        /*overflow-x:auto;*/
        /*background:#fff;*/
        margin:0;
        padding:5px;
    }
    #member-list li {
        padding:2px;
        margin:0;
        list-style-type:none;
    }
    #member-list li:hover {
        background: #cee7ff;
    }

    .tag {
        padding:2px 4px;
        background-color: #ccc;
        border-radius: 4px;
    }
</style>

<script type="text/javascript">
    require.config({
        baseUrl: '{{ STATIC_URL }}js',
        paths: {
            jquery: '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min',
            jqueryui: '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min',
            bootstrap: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min',
            leaflet: '//cdn.leafletjs.com/leaflet-0.7.3/leaflet',
            //leaflet: '{{ STATIC_URL }}Leaflet/leaflet',
            json2: '//ajax.cdnjs.com/ajax/libs/json2/20110223/json2',
            underscore: 'underscore-min',
            backbone: 'backbone-min',
            leaflet_label: 'leaflet.label'
            //underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min', // versions pre 1.3.0 have problems when used with backbone via requireJS
            //backbone: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min'
            //////// local scripts
            // jquery: 'vendor/jquery.min',
            // jqueryui: 'vendor/jquery-ui.min',
            // leaflet: '{{ STATIC_URL }}Leaflet/leaflet',
            // //leaflet: '{{ STATIC_URL }}Leaflet/leaflet',
            // json2: 'vendor/json2',
            // underscore: 'underscore-min',
            // backbone: 'backbone-min',
            // bootstrap: 'vendor/bootstrap.min',
            // leaflet_label: 'leaflet.label'
        },
        //priority: ['jquery']
		priority: [
			// 'leaflet'
		],
		waitSeconds: 30,
        shim: {
            'underscore': {
                exports: '_'
            },
            'backbone': {
                deps: ['underscore', 'jquery'].concat(!(typeof JSON !== 'undefined' && typeof JSON.stringify === 'function') ? ['json2'] : []),
                exports: 'Backbone'
            },
            'jqueryui': ['jquery'],
            'bootstrap': ['jquery'],
            'leaflet': {
                exports: 'cartodb',
            },
            'leaflet_label': ['leaflet'],
            'leafclusterer': ['leaflet'],
            'TileLayer.Bing': ['leaflet'],
            'leaflet_utils': ['leaflet'],
            'leaflet_maptip': ['leaflet']
        }
    });
    require([
        'jquery',
        'prep',
        'categorydetail',
        'jqueryui',
        'bootstrap'
    ], function($, Prep, CategoryDetail) {
        $(function() {
            Prep.preparePage();
        });
        window['categorydetail'] = new CategoryDetail.CategoryDetail($('#leafletmap'));
    });

</script>
{% endblock %}

{% block base_body_content %}
<div id="leafletmap" style="position:absolute; top:0; bottom:0; left:0; right:0; z-index:0;"></div>

<div style="z-index:2; padding-left:60px; padding-top:1px; position:relative; background-color:#fff; background-color:rgba(255,255,255,0.7);">
    <h6 style="color:#666; text-transform:uppercase; margin-right:20px; padding-bottom:0; margin-bottom:0;">Category</h6>
    <p class="heading" style="margin:0px; padding:0; font-size:32px; line-height:38px;color:#de744a;">
        {{ category.name }}
    </p>

    <h5 style="color:#666;">{% if category.details.summary %}
        {{ category.details.summary|safe }}
    {% endif %}</h5>
</div>

<div id="leftcol" style="position:absolute; top:0; bottom:0; width:34%; min-width:350px; margin-top:120px;">
    <div class="sidebar_item_title">Description</div>
    <div class="sidebar_item_content" style="background-color:rgba(255,255,255,0.7); height:90%; width:100%; overflow-y:auto; padding-left:34px;">
        {% if category.details.description %}
            <p>
                {{ category.details.description|safe }}
            </p>
            <div style="clear:both;"></div>
        {% endif %}
    </div>
</div>
<div id="rightcol" style="position:absolute; top:0; bottom:0; right:0; width:25%; min-width:200px; margin-top:120px;">
    <div class="sidebar_item_title">Protected Areas & Campaigns</div>
    <div class="sidebar_item_content" style="width:100%; background-color:rgba(255,255,255,0.7); height:90%; overflow:auto;">
        <!-- List of MPAs here with boundaries -->
        <ul id="member-list">
        {% comment %}
        {% for campaign in member_campaigns %}
            <li><a href="{{ campaign.get_absolute_url }}">{{ campaign.name }} <span class="tag">campaign</span></a></li>
        {% endfor %}
        {% for mpa in member_mpas %}
            <li><a href="{{ mpa.get_absolute_url }}">{{ mpa.name }} {{ mpa.designation }} - {{ mpa.country }}</a></li>
        {% endfor %}
        {% endcomment %}
        </ul>
        
    </div>
</div>
<div class="clear"></div>
{% endblock %}
