{% extends "base.html" %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block base_head_extra %}

{% comment %}
<link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.ie.css" /><![endif]-->
{% endcomment %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->

<link href='{{ STATIC_URL }}css/leaflet.label.css' rel='stylesheet' />

<link href="{{ STATIC_URL }}css/sitedetail.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var mpa_data = [
        {% for mpa in member_mpas %}
            {
                "type": "Feature",
                "properties": {
                    'name': '{{ mpa.name }} {{ mpa.designation }}',
                    'type': 'mpa',
                    'id': {{ mpa.pk }},
                    'url': '{{ mpa.get_absolute_url }}'
                },
                'geometry': {% if mpa.is_point and mpa.point_geom %}{{ mpa.point_geom.geojson|safe }}{% else %}{% if mpa.geom %}{{ mpa.geom.geojson|safe }}{% else %}{}{% endif %}{% endif %}
            }{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    ];
    var campaign_data = [
        {% for campaign in member_campaigns %}
            {
                "type": "Feature",
                "properties": {
                    'name': '{{ campaign.name }}',
                    'type': 'campaign',
                    'id': {{ campaign.pk }},
                    'url': '{{ campaign.get_absolute_url }}'
                },
                'geometry': {% if campaign.point_geom %}{{ campaign.point_geom.geojson|safe }}{% else %}{}{% endif %}
            }{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    ];
</script>

<script type="text/javascript">
    require.config({
        baseUrl: '{{ STATIC_URL }}js',
        paths: {
            jquery: '//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min',
            jqueryui: '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min',
            leaflet: '//cdn.leafletjs.com/leaflet-0.7.3/leaflet',
            //leaflet: '{{ STATIC_URL }}Leaflet/leaflet',
            json2: '//ajax.cdnjs.com/ajax/libs/json2/20110223/json2',
            underscore: 'underscore-min',
            backbone: 'backbone-min'
            //underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min', // versions pre 1.3.0 have problems when used with backbone via requireJS
            //backbone: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min'
        },
        //priority: ['jquery']
		priority: [
			// 'leaflet'
		],
		waitSeconds: 30,
        use: {
		    'underscore': {
		        attach: '_'
		    },
		    'backbone': {
		        deps: ['use!underscore', 'json2', 'jquery'],
		        attach: 'Backbone'
		    },
		    'jqueryui': {
		        deps: ['jquery']
		    },
            'leaflet.label': {
                deps: ['leaflet']
            }
		}
    });
    require([
        'prep',
        'categorydetail',
        'jquery',
        'use!jqueryui'
    ], function(Prep, CategoryDetail) {
        $(function() {
            Prep.preparePage();
        });
        window['categorydetail'] = new CategoryDetail.CategoryDetail($('#leafletmap'), mpa_data, campaign_data);
    });

</script>
{% endblock %}

{% block base_body_content %}
    <div class="clear" style="clear:both;"></div>
    
    <div id="leftcol" style="float:left; width:34%; padding-top:12px;">
    	<div id='leafletmap'></div>
        <br />

        <div class="sidebar_item_title">Protected Area Campaigns</div>
        <div class="sidebar_item_content">
            <!-- List of MPAs here with boundaries -->
            <ul>
            {% for campaign in member_campaigns %}
                <li><a href="{{ campaign.get_absolute_url }}">{{ campaign.name }}</a></li>
            {% endfor %}
            </ul>
        </div>

        <div class="sidebar_item_title">Designated Protected Areas</div>
        <div class="sidebar_item_content">
            <!-- List of MPAs here with boundaries -->
            
            <ul>
            {% for mpa in member_mpas %}
                <li><a href="{{ mpa.get_absolute_url }}">{{ mpa.name }} {{ mpa.designation }} - {{ mpa.country }}</a></li>
            {% endfor %}
            </ul>
            
        </div>
    </div>
    <div id="rightcol" style="float:right; width: 66%;">
        <div style="padding: 8px;">
            <h5 style="color:#666; text-transform:uppercase;">Category</h5>
            <p class="heading clear" style="margin:0px; padding:0; font-size:32px; line-height:38px;color:#de744a;">
                {{ category.name }}
            </p>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <h5 style="color:#666;">{% if category.details.summary %}
                {{ category.details.summary|safe }}
            {% endif %}</h5>
            
            <div class="sidebar_item_title">Description</div>
        	<div class="sidebar_item_content">
        	    {% if category.details.description %}
                    <p>
                        {{ category.details.description|safe }}
                    </p>
                    <div style="clear:both;"></div>
                {% endif %}
        	</div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
