{% extends "base.html" %}

{% block title %}Password change{% endblock %}

{% block pagetitle %}Password reset{% endblock %}

{% block base_body_content %}

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" method="post">{% csrf_token %}
    <table>
        <tr>
            <td>{{ form.old_password.errors }}<label for="id_old_password">Old password:</label></td>
            <td>{{ form.old_password }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password1.errors }}<label for="id_new_password1">New password:</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirm new password:</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Change my password" /></td>
        </tr>
    </table>
</form>
{% endblock %}