{% extends "base.html" %}
{% load url from future %}

{% block title %}Sign Up{% endblock %}
{% block body_class %}{{ block.super }} login_form{% endblock %}

{% block base_head_extra_extra %}
<style>
    label {
        display: block;
        float: left;
        width: 12em;
    }
</style>
{{ form.media }}
{% endblock %}

{% block base_body_content %}
    <h2>We need your help to improve information about global MPAs and conservation efforts</h2>
    
    {% if form.errors %}
        <p>Error processing your registration.  Please try again.</p>
        <!-- <p>{{ form.errors }}</p> -->
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
    
    <form action="{% url 'accounts.views.signup' %}" method="post" class="signup_form">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="submit">
            <button type="submit" name="submit" value="Sign Up">Sign Up</button>
        </p>
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </form>
{% endblock %}