body {font: 12px/20px 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, 'TitilliumText22LRegular', Arial, sans-serif; line-height: 1.25;}
h1, .heading {font: 50px/56px 'Yanone Kaffeesatz', 'TitilliumText22LRegular', Arial, sans-serif; letter-spacing: 0;}
.heading.bold {font: 50px/56px 'Yanone Kaffeesatz', 'TitilliumText22LBold', Arial, sans-serif; letter-spacing: 0;}
.thin {font: 18px/27px 'Yanone Kaffeesatz', 'TitilliumText22LThin', Arial, sans-serif;}
.light {font: 18px/27px 'Yanone Kaffeesatz', 'TitilliumText22LLight', Arial, sans-serif;}
.regular {font: 18px/27px 'Yanone Kaffeesatz', 'TitilliumText22LRegular', Arial, sans-serif;}
.medium {font: 18px/27px 'Yanone Kaffeesatz', 'TitilliumText22LMedium', Arial, sans-serif;}
.bold {font: 18px/27px 'Yanone Kaffeesatz', 'TitilliumText22LBold', Arial, sans-serif;}
.xbold {font: 18px/27px 'Yanone Kaffeesatz', 'TitilliumText22LXBold', Arial, sans-serif;}

.clear {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #3c6289;
}
a:hover {
    color: #c94E85;
}
a:active {
    color: #de744a;
}

#body_full {
    position:relative;
    width: 960px;
    margin: 0 auto 0 auto;
}

#header_full {
    position:relative;
    height:79px;
    min-width:960px;
    background: url('../images/header_bg.png') repeat-x;
}

#header_center {
    position:relative;
    top: 0px;
    width:960px;
    height:79px;
    /*background: url('../images/header_all.png') no-repeat 0 5px;*/
    margin:0 auto 0 auto;
}

#footer_full {
    position:relative;
    min-height:86px;
    min-width:960px;
    background: url('../images/footer_bg.png') repeat-x;
    margin:0;
    padding:0;
}

.contentmax_centered {
    position: relative;
    
}

#mainlogo {
    float: left;
    display: block;
    position: relative;
    width: 244px;
    height: 75px;
    top: 5px;
    background: url('../images/header_logo.png') no-repeat;
    overflow: hidden;
    outline: none;
    text-indent: -9999px;
}

#waittlogo {
    float: right;
    display: block;
    position: relative;
    width: 130px;
    height: 66px;
    top: 5px;
    margin-right: 17px;
    background: url('../images/header_waittlogo.png') no-repeat;
    overflow: hidden;
    outline: none;
    text-indent: -9999px;
}

#helpbutton {
    float: right;
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    right: 270px;
    top: 40px;
    background: url('../images/header_helpicon.png') no-repeat;
    overflow: hidden;
    outline: none;
    text-indent: -9999px;
}

.user_block {
    float: right;
    color: white;
    margin-top: 8px;
}

#user_logintab {
    display: block;
    position: relative;
    color: white;
    border-radius: 4px 4px 0 0;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#user_logintab.selected {
    color: #666;
    background-color: #eee;
    box-shadow: 0 1px 10px #888;
    -moz-box-shadow: 0 1px 10px #888;
    -webkit-box-shadow: 0 1px 14px #999;
}

#user_loginlink {
    color: white;
    text-decoration: none;
    outline: none;
}

#user_logintab.selected #user_loginlink {
    color: #c94E85;
}

#user_loginlink:hover {
    text-decoration: underline;
}

#user_logout {
    font-size: .8em;
    color: black;
    text-decoration: none;
    color: #222;
}

#user_loginformcontainer {
    display: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    color: #666;
    padding: 8px;
    padding: none;
    background-color: #eee;
    -moz-border-radius: 8px 0 8px 8px;
    -webkit-border-radius: 8px 0 8px 8px;
    -o-border-radius: 8px 0 8px 8px;
    border-radius: 8px 0 8px 8px;
    z-index: 9999;
    box-shadow: 0 1px 10px #888;
    -moz-box-shadow: 0 1px 10px #888;
    -webkit-box-shadow: 0 1px 14px #999;
}

#user_logintab.selected #user_loginformcontainer {
    display: block;
}

#user_logintab input[type=text], #user_logintab input[type=password] {
    width: 200px;
    border: 1px solid #AAC;
    padding: 4px;
    color: #3c6289;
    font-size: 1.3em;
    margin: 0
    background: white;
}

#user_logintab .user_button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #333;
    color: white;
    font-size: 20px;
    line-height: 1.2em;
    padding-bottom: 3px;
    font-family: 'Yanone Kaffeesatz', 'HelveticaNeue', 'Helvetica-Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-shadow: black 1px 1px 1px;
    box-shadow: 1px 1px 1px #888;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #999;
    background-color: #395671;
    background-image: -moz-linear-gradient(top, #395671, #324455);
    background-image: -webkit-linear-gradient(top, #395671, #324455);
    background-image: -o-linear-gradient(top, #395671, #324455);
    background-image: linear-gradient(top, #395671, #324455);
    /* background-color: transparent; */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#395671,endColorstr=#324455)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#395671,endColorstr=#324455); /* IE6 and 7 */
    zoom: 1;
}

#user_logintab .user_button:hover {
    color: #C94E85;
    background-color: #324455;
    background-image: -moz-linear-gradient(top, #324455, #395671);
    background-image: -webkit-linear-gradient(top, #324455, #395671);
    background-image: -o-linear-gradient(top, #324455, #395671);
    background-image: linear-gradient(top, #324455, #395671);
    /* background-color: transparent; */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#324455,endColorstr=#395671)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#324455,endColorstr=#395671); /* IE6 and 7 */
    zoom: 1;
}

#user_logintab .user_button.user_login {
    float: right;
}

#user_logintab .user_signupblock {
    border-top: 1px dotted #c94E85;
    margin-top: 0px;
    padding-top: 8px;
    margin-bottom: 4px;
}

#user_signuplink {
    font-weight: bold;
}

.searchform {
    position: absolute;
    display: block;
    bottom: 0;
    right: 150px;
}

.searchform fieldset {
    position: relative;
    display: block;
    margin: 0;
    padding-bottom: 6px;
    border: none;
}

.searchform input.text {
    width:155px;
    border-radius:6px;
    border-color: #AAA #5A81A7 #5A81A7;
    float: left;
    font-size: 11px;
    height: 12px;
    margin: 0;
    padding: 3px 10px 5px 6px;
    /*background: url("../images/textboxbg.png") repeat-x scroll 0 100% white;*/
    border: 1px solid #A0A0A0;
    color: #606060;
    font: 14px/1.2em 'Helvetica Neue', 'Helvetica', 'Arial', 'Abel', verdana, sans-serif;
    font-weight: 300;
    font-size: 12px;
    
}

.searchform input.image {
    background: url("../images/header_searchbutton.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #F60;
    float: left;
    font-weight: bold;
    height: 29px;
    left: -10px;
    margin: 0 -5px 0 0;
    margin-bottom: -1px;
    position: relative;
    top: -3px;
    width: 29px;
}

ul#mainmenu, ul#mainmenu li, ul#mainmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul#mainmenu {
    display: block;
    position: absolute;
    z-index: 597;
    border-top: 1px solid #79A;
    padding-left: 4px;
    padding-right: 4px;
    left: 250px;
    bottom: 0px;
}

ul#mainmenu li {
    float: left;
    position: relative;
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
    color: white;
    font-family: 'Josefin Sans', Georgia, serif;
    font-weight: 300;
    font-size: 20px;
    font: 14px/1.2em 'Yanone Kaffeesatz', 'Oswald', 'Impact', verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-shadow: #000 1px 1px 1px;
}

ul#mainmenu > li {
    padding-top: 3px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

ul#mainmenu > li:first-child {
    padding-left: 0;
}
ul#mainmenu > li:last-child {
    padding-right: 0;
}

ul#mainmenu a {
    color: white;
    text-decoration: none;
}

ul#mainmenu a:hover, ul#mainmenu li.selected > a {
    color: #e03e8a;
}

ul#mainmenu ul {
    visibility: hidden;
    width: 232px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    background-color: #333;
    border-radius: 0px 0px 8px 8px;
    padding: 8px;
}

ul#mainmenu li:hover > ul {
    visibility: visible;
}

ul#mainmenu ul li {
    float: none;
    font: 16px/1.2em 'Yanone Kaffeesatz', 'Oswald', 'Yanone Kaffeesatz', verdana, sans-serif;
    font-size:20px;
    font-weight: normal;
    font-size: 20px;
    text-shadow: #000 1px 1px 1px;
}

.modetoggle {
    /*line-height: 1;*/
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.modetoggle .modebutton {
    padding: 3px;
    border: 1px solid #EEE;
    background: rgb(255,120,100);
    text-decoration: none;
    color: white;
    line-height: 1;
}
.modebutton:first-child {
     border-radius: 4px 0px 0px 4px;
}
.modebutton:last-child {
     border-radius: 0px 4px 4px 0px;
     border-left: 0px;
}
.modebutton.selected, .modebutton:hover {
    background: rgb(255,90,80);
}

#filters_overlay {
    min-width: 100px;
    background-color: rgba(10,10,10,0);
    padding: 0px;
    border-radius: 8px 0px 0px 8px;
    background-image: -moz-linear-gradient(top left, rgba(10,10,10,0.8), rgba(10,10,10,0.0));
    background-image: -webkit-linear-gradient(top left, rgba(10,10,10,0.8), rgba(10,10,10,0.0));
    background-image: -o-linear-gradient(top left, rgba(10,10,10,0.8), rgba(10,10,10,0.0));
    background-image: linear-gradient(top left, rgba(10,10,10,0.8), rgba(10,10,10,0.0));
    /* background-color: transparent; */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333,endColorstr=#DD333333)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333,endColorstr=#DD333333); /* IE6 and 7 */
    zoom: 1;
}

.filterstitle {
    float: left;
    color: white;
    /*text-shadow: #FFF 1px 1px 1px;*/
    font-size: 14px;
    font-weight: normal;
    font-size: 18px;
    font-weight: 400;
    padding: 2px;
    margin: 4px;
}

.filtertag {
    float: left;
    background: rgb(255,40,120);
    background: rgba(255,40,120,0.8);
    color: #DDF;
    text-shadow: #000 1px 1px 1px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 2px;
    margin: 9px;
    margin-left: 6px;
}

.filtertag .filtername {
    color: white;
    text-shadow: #000 1px 1px 1px;
    font-size: 12px;
}

.filtertag .remove {
    /*display: inline;*/
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #A44;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.5);
    font-size: 8px;
    padding: 1px;
    color: black;
    text-shadow: none;
    text-decoration: none;
}

.addfilter, .addlayer {
    /*display: inline;*/
    margin: 4px;
    margin-left: 2px;
    margin-right: 4px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-shadow: #000 1px 1px 1px;
    text-decoration: none;
    background-color: rgb(140,180,140);
    background-color: rgba(140,180,140,0.8);
    border-radius: 4px;
    border: 1px solid #4C4;
    color: #9F9;
}
.addlayer:hover, .addfilter:hover {
    color: #0F0;
    background-color: rgb(100,180,100);
    background-color: rgba(100,180,100,0.8);
    border: 1px solid #0C0;
}

.sidebar {
    position: absolute;
    right: 0px;
    top: 79px;
    width: 190px;
    height: 100%;
    background-color: transparent;
    padding: 10px 0px 0px 15px;;
    color:black;
}

.sidebar_item_title {
    position: relative;
    min-width: 200px;
    float:left;
    padding: 2px;
    padding-left: 10px; 
    margin-left: 20px;
    margin-bottom: -10px;
    color: white;
    font-weight:bold;
    font-size:14px;
    background-color: #3C6289;
    border-radius: 8px;
    z-index: 3;
}

.sidebar_item_content {
    position: relative;
    clear: both;
    width: 90%;
    background-color: white;
    padding: 4px 14px 4px 14px;
    padding-top: 18px;
    font-size: 12px;
    margin-top: -2px;
    margin-bottom: 10px;
    border: 1px solid #3C6289;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 1px 1px 3px #888;
    -moz-box-shadow: 1px 1px 3px #888;
    -webkit-box-shadow: 1px 1px 4px #999;
}

.sidebar_item_content a {
    color: #DF753B;
    font-style: italic;
    text-decoration: none;
}


div.rssincl-content {
	width: 800px;
	padding: 10px 15px 0 0px;
	overflow-y: auto;
	overflow-x: hidden;				
}
div.rssincl-entry {
	padding: 0px 10px 0px 10px;
	margin-bottom: 35px;
	border: 1px solid #3C6289;
	border-radius: 8px;
	z-index: 1;
	box-shadow: 1px 1px 3px #888;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow: 1px 1px 4px #999;				
}
div.rssincl-entry div.rssincl-itemimage {
	float: right;
	margin: 20px 20px 10px 20px;
}

div.rssincl-entry div.rssincl-itemimage img {
	border: 1px solid #3C6289;
	/*border-radius: 8px;*/
	box-shadow: 1px 1px 3px #888;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow: 1px 1px 4px #999;				
}

div.rssincl-entry p.rssincl-itemdesc a.p {
	display: none !important;
}
div.rssincl-entry p.rssincl-itemdate {
	font-size: 11px;
	font-style: italic;
	text-align: right;
	margin-right: 18px;
}

div.rssincl-entry p.rssincl-itemtitle {
	min-width: 200px;
    padding: 2px;
	padding-left: 10px;
	margin: -10px 10px -5px 10px;
	background-color: #3C6289;
	border-radius: 8px;
	height: 17px;
	overflow:hidden;
}
div.rssincl-entry p.rssincl-itemtitle a {
	color: white !important;
	font-weight:bold;
	font-size:14px;
}



/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://http://jqueryui.com/themeroller/?ffDefault=Trebuchet+MS,+Tahoma,+Verdana,+Arial,+sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(http://jqueryui.com/themeroller/images/?new=eeeeee&w=1&h=100&f=png&q=100&fltr[]=over|textures/03_highlight_soft.png|0|0|100) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(http://jqueryui.com/themeroller/images/?new=f6a828&w=500&h=100&f=png&q=100&fltr[]=over|textures/12_gloss_wave.png|0|0|35) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(http://jqueryui.com/themeroller/images/?new=f6f6f6&w=1&h=400&f=png&q=100&fltr[]=over|textures/02_glass.png|0|0|100) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(http://jqueryui.com/themeroller/images/?new=fdf5ce&w=1&h=400&f=png&q=100&fltr[]=over|textures/02_glass.png|0|0|100) 50% 50% repeat-x; font-weight: bold; color: #c77405; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(http://jqueryui.com/themeroller/images/?new=ffffff&w=1&h=400&f=png&q=100&fltr[]=over|textures/02_glass.png|0|0|65) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fed22f; background: #ffe45c url(http://jqueryui.com/themeroller/images/?new=ffe45c&w=1&h=100&f=png&q=100&fltr[]=over|textures/03_highlight_soft.png|0|0|75) 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(http://jqueryui.com/themeroller/images/?new=b81900&w=40&h=40&f=png&q=100&fltr[]=over|textures/08_diagonals_thick.png|0|0|18) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #ffffff; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(http://jqueryui.com/themeroller/images/?new=222222&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }
.ui-widget-content .ui-icon {background-image: url(http://jqueryui.com/themeroller/images/?new=222222&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }
.ui-widget-header .ui-icon {background-image: url(http://jqueryui.com/themeroller/images/?new=ffffff&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }
.ui-state-default .ui-icon { background-image: url(http://jqueryui.com/themeroller/images/?new=ef8c08&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(http://jqueryui.com/themeroller/images/?new=ef8c08&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }
.ui-state-active .ui-icon {background-image: url(http://jqueryui.com/themeroller/images/?new=ef8c08&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }
.ui-state-highlight .ui-icon {background-image: url(http://jqueryui.com/themeroller/images/?new=228ef1&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(http://jqueryui.com/themeroller/images/?new=ffd27a&w=256&h=240&f=png&fltr[]=rcd|256&fltr[]=mask|icons/icons.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(http://jqueryui.com/themeroller/images/?new=666666&w=40&h=40&f=png&q=100&fltr[]=over|textures/08_diagonals_thick.png|0|0|20) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(http://jqueryui.com/themeroller/images/?new=000000&w=40&h=100&f=png&q=100&fltr[]=over|textures/01_flat.png|0|0|10) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; }
