/* Fix for Safari changing font rendering for z-indexed elements when map added to page */
* {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

.busy, .busy * {  
  cursor: progress !important;  
}

.leaflet-control-layers, .leaflet-control-layers-expanded {
    color: #FFF;
    background: rgba(10,10,10,0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333,endColorstr=#DD333333)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333,endColorstr=#DD333333); /* IE6 & 7 */
}

#leafletmap {
    height: 300px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #888;
    -moz-box-shadow: 1px 1px 3px #888;
    -webkit-box-shadow: 1px 1px 4px #999;
}

.siteinfo {
    background-color: transparent;
    background-color: rgba(10,10,10,0.8);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333,endColorstr=#DD333333)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333,endColorstr=#DD333333); /* IE6 and 7 */
    zoom: 1;
    border-color: black;
}

#siteinfotitle {
    cursor: pointer;
}

.siteinfo .name {
}

.siteinfo .value {
    color: #ddd;
    padding-left: 2px;
}

.siteinfo.collapsed .infolist {
    height: 8em;
    overflow: hidden;
}

.siteinfo .expander, .siteinfo.collapsed .collapser {
    display: none;
}

.siteinfo.collapsed .expander {
    display: inline;
} 

.siteinfo .infoexpander {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    top:1em;
    width: 18em;
    text-align: center;
    background-color: #3C6289;
    border-radius: 4px;
    color: white;
    font-style: italic;
    font-size: 11px;
}

.ppwidget_wrapper {
    background-color: #eee;
}

body {
    font-family: 'Helvetica Neue', Helvetica , Arial, sans-serif;
    font-weight: 400;
}

.protection_levels .level_title {
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica , Arial, sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}