.clear {
    clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.right, .align-right {
    float: right !important;
}
.left, .align-left {
    float: left !important;
}

.pagetopper {
  /*background-color: #27a7cf;*/
  /*color: #fff;*/
  font-weight: 300;
}

.site-header {
 background: #fff;
 background: linear-gradient(to bottom, #eaeaea 0%,#ffffff	50%); /* W3C */
 color: #a0c3ce;
}

.site-header.site-header-dark {
	background: #001626;
	background: linear-gradient(to bottom, #001626 0%,#000000 100%); /* W3C */
	color: #fff;
}

.header-inner {
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: row;
	justify-content: flex-start;
}

.logo-wrap {
	max-width: 244px;
	min-width: 140px;
	/*float:right;*/
}

.nav-wrap {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.nav-secondary {
	/*flex: 0 1 auto;*/
	align-self: flex-end;
}

.nav-secondary a {
	color: #27a7cf;
	color: #609CAF;
}

.nav-main {
	/*flex: 0 1 auto;*/
	align-self: flex-start;
	display: flex;
	width: 100%;
	position: relative;
}

.search-main {
	align-self: flex-end;
  flex: 1 1 auto;
  text-align: right;
}

.search-main .btn {
	background-color: transparent;
	font-size: 3rem;
	padding: 0 10px 0 10px;
	align-self: center;
}

.search-main .btn.focus, .search-main .btn:focus, .search-main .btn:hover {
	color: #27a7cf;
}

.search-main .navbar-form {
	display: flex;
}

.search-main .navbar-form.focused {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/*width: 100%;*/
	z-index: 10000;
}

.search-main .navbar-form:not(.focused) .search-main-input {
	background: none;
	border: none;
}

.search-main-input::placeholder {
	color: #056B84;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: right;
}
.search-main-input:-ms-input-placeholder {
	color: #056B84;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: right;
}



.search-main .navbar-form .form-group {
	flex: 1 0 auto;
	align-self: center;
}

.search-main .navbar-form .search-main-input {
	width: 100%;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 300;
	background-color: #001626;
	background-color: rgba(0,22,38,0.9);
	border-color: #ffffff;
	border-color: rgba(255,255,255,0.4);
}

.ui-autocomplete, .ui-autocomplete .ui-menu-item {
	background-color: #001626;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300 !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-autocomplete .ui-menu-item:hover, .ui-autocomplete .ui-menu-item:hover .ui-menu-item-wrapper, .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper:hover {
	background: #27a7cf;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper, .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper:hover, .ui-autocomplete .ui-menu-item:hover .ui-menu-item-wrapper:hover {
	border: none !important;
	font-size: 1.4rem;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: 300 !important;
}

.mainlogo {
	display: block;
	position: static;
	width: 100%;
	max-width: 244px;
	height: 100%;
	outline: none;
	padding: 4px 0 4px 0;
}

.name-hidden {
	text-indent: -9999px;
	overflow: hidden;
}

ul.mainmenu {
	align-self: flex-end;
	display: flex;
	/*width: 100%;*/
	flex-wrap: wrap;
	justify-content: flex-start; /* center, flex-end, space-between, space-around */
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 3rem;
}

ul.mainmenu > li {
	flex: 0 1 auto;
	border-bottom: 0.5rem solid transparent;
}
ul.mainmenu > li:hover, ul.mainmenu > li.selected, ul.mainmenu > li.ancestor {
	border-bottom-color: #27a7cf;
}

ul.mainmenu > li.nohighlight {
		border-bottom-color: transparent;
	}

ul.mainmenu > li > a, ul.mainmenu > li > a:hover, ul.mainmenu > li > a:visited  {
	display: block;
	padding: 8px 16px 8px 16px;
	color: #27a7cf;
	text-decoration: none;
}

#subheader {
    position:relative;
    /*min-height:20px;*/
    background: #27a7cf;
    color: #fff;
    font-weight: 300;
    /*border-bottom: 1px solid #000;*/
}

#subheader_center {
    position:relative;
    /*min-height:20px;*/
}

ul.submenu {
    display: block;
}

ul.submenu, ul.submenu li, ul.submenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.submenu li {
    display: inline-table;
    /*border-left: 1px solid #999;*/
    padding: 8px;
    padding-left: 12px;
    color: #fff;
    position: relative;
    border-bottom: 2px solid transparent;
}

/*ul.submenu li.selected, ul.submenu li.ancestor {
	border-bottom-color: #001626;
}*/

ul.submenu li.selected > a, ul.submenu li.ancestor > a {
	text-decoration: underline;
}

ul.submenu li:first-child {
    /*border-left: none;*/
    padding-left: 0;
}

ul.submenu a {
    color: #fff;
    text-decoration: none;
}

ul.submenu li::before {
		content: '|';
    color: #bababa;
    font-weight: 300;
    position: absolute;
    left: 0;
    /*padding-right: 10px;*/
}

ul.submenu li:first-child::before {
	content: '';
	display: none;
}

ul.submenu a:hover {
    color: #001626;
}

.site-footer {
	/**/
}

.site-footer-upper {
	padding-top: 6px;
	color: #fff;
	font-weight: 300;
	font-size: 1rem;
	background: #27a7cf;
	background: linear-gradient(to bottom, #2284b5 0%,#27a7cf 60px); /* W3C */
}

.site-footer-lower {
	padding-top: 6px;
	min-height: 100px;
	background: #eee;
	background: linear-gradient(to bottom, #d8d8d8 0%,#eee 8px); /* W3C */
}

.well-blue {
    background-color: #3560a5;
}

.sidebar_item_title {
	padding: 4px;
	padding-left: 10px;
	background-color: #27a7cf;
	color: white;
	margin-bottom: 0;
	font-weight: 300;
}

.sidebar_item_content {
	padding-left: 8px;
	margin-top: 0;
	border-left: 1px solid #27a7cf;
	border-width: 0 0 0 1px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(44,186,231)), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgb(44,186,231), rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgb(44,186,231), rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(rgb(44,186,231), rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, rgb(44,186,231), rgba(0, 0, 0, 0)) 1 100%;
}
