{% extends "base.html" %}
{% load staticfiles %}
{% load cms_tags sekizai_tags i18n %}

{% block title %}Explore{% endblock %}

{% block base_head_extra %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=no" />

<!--<link rel="stylesheet" type="text/css" href="//cdn.sencha.com/ext/gpl/4.1.1/resources/css/ext-all-access.css"/>-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ext-all-access-scoped.css"/>

{% comment %}
<link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.ie.css" /><![endif]-->
{% endcomment %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->

<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" />

<link href='{{ STATIC_URL }}css/leaflet.label.css' rel='stylesheet' />

<link href="{{ STATIC_URL }}css/map.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]><link href="{{ STATIC_URL }}css/map_ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

<script type="text/javascript">
    // Here we define Ext for the first time
    Ext = {
        buildSettings:{
            "scopeResetCSS": true  // Thanks, but I'll do my own scoping please
        }
    };
</script>

<script type="text/javascript">
    System.import('{% static "js" %}/campaign').then(function(Campaign) {
        $(function() {
            window['campaignmap'] = new Campaign.CampaignMap($('#leafletmap'));
            var campaigns_url = '{% url 'campaign-list-geojson' %}';
            var map = campaignmap.map;
            $.ajax({
                url: campaigns_url,
                success: function(data) {
                    var geojsonMarkerOptions = {
                        radius: 8,
                        fillColor: "#66ff78",
                        color: "#000",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.8
                    };
                    var onEachFeature = function(feature, layer) {
                        // does this feature have a property named popupContent?
                        if (feature.properties) {
                            var content = "<a href='"+ feature.properties.url +"'>" + feature.properties.name + "</a>";
                            // layer.bindPopup(content);
                            layer.bindLabel(feature.properties.name);
                            layer.on('click', function() {
                                document.location = feature.properties.url;
                            })
                        }
                    }

                    var geojson = new L.GeoJSON(data, {
                        pointToLayer: function (feature, latlng) {
                            var m1 = L.circleMarker(latlng, geojsonMarkerOptions);
                            var m2 = L.circleMarker(L.latLng(latlng.lat, latlng.lng - 360, true), geojsonMarkerOptions);
                            var m3 = L.circleMarker(L.latLng(latlng.lat, latlng.lng + 360, true), geojsonMarkerOptions);
                            return L.featureGroup([m1, m2, m3])
                        },
                        onEachFeature: onEachFeature
                    });
                    // geojson.setStyle({
                    //     weight: 3,
                    //     color: '#d0508c',
                    //     opacity: 0.8,
                    //     fillColor: '#d0508c',
                    //     fillOpacity: 0.2
                    // });
                    // geojson.on('click', function(mapevent) {
                    //     campaignmap.map.fireEvent('click', mapevent); // pass click from layer to map
                    // });
                    campaignmap.map.addLayer(geojson);
                }
            });
        });
    });
</script>
{% endblock %}

{% block base_fblike %}
{% endblock %}

{% block base_body_content %}
<div id="leafletmap" style="position:absolute; top:0; bottom:0; left:0; right:0; z-index:0;"></div>

<div id='stats_overlay'>
	<div class="stats_header medium">Campaign Tracker</div>
	<div class="heading bold" style="font-size:2.5em; line-height:120%;">Active MPA Campaigns</div>
    <div>
        {% if campaign_list %}
            <ul>
            {% for campaign in campaign_list %}
                <li style="padding-bottom:3px;"><a href="{{ campaign.get_absolute_url }}" style="text-decoration:none; color:#fff; font-size:0.8em;"><span style="font-size:1.2em;">{{ campaign.name }}</span> [{{ campaign.country }}{% if campaign.sub_location %} - {{ campaign.sub_location }}{% endif %}]</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block base_body_extra %}
{% endblock %}

{% block base_footer_content %}
{% endblock %}

{% block bodyend_js %}

{% endblock %}
