{% extends "base.html" %}
{% load staticfiles %}
{% load cms_tags sekizai_tags i18n %}

{% block title %}{{ mpa.name }}{% endblock %}

{% block base_head_extra %}

{% comment %}
<link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/leaflet.ie.css" /><![endif]-->
{% endcomment %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->

<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
   integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
   crossorigin=""/> -->

<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

<link href="{{ STATIC_URL }}css/sitedetail.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    System.import('{% static "js" %}/sitedetail').then(function(SiteDetail) {
        $(function() {
            var site_id = {{ mpa.pk }},
                feature_url = '{% url 'mpa-geojson' mpa.pk %}?simplified=false',
                is_point = {% if mpa.is_point %}true{% else %}false{% endif %},
                point_within = [{{ mpa.point_within.coords.0 }},{{ mpa.point_within.coords.1 }}],
                bbox = [[{{ mpa.bbox_lowerleft.coords.0 }},{{ mpa.bbox_lowerleft.coords.1 }}], [{{ mpa.bbox_upperright.coords.0 }},{{ mpa.bbox_upperright.coords.1 }}]];
            window['sitedetail'] = new SiteDetail.SiteDetail($('#leafletmap'), {{ mpa.pk }}, feature_url, is_point, point_within, bbox);
        });
    });
</script>
{% endblock %}

{% block base_body_content %}
    <div class="container-fluid">
        <div class="row">
            <div id="rightcol" class="col-sm-8 col-sm-push-4">
                <div style="max-width: 800px;"">
                    <p class="heading" style="margin:0px; padding:0; font-size:32px; line-height:38px; margin-bottom:0px; color:#de744a;">
                        {{ mpa.name }}
                        <span style="font-size:20px;">{% if mpa.designation_eng %}{{ mpa.designation_eng }} {% endif %}{% if mpa.designation_eng != mpa.designation %}({{ mpa.designation }}){% endif %}</span>
                    </p>
                    <h4 style="color:#666; margin-bottom:8px; padding-top:0; margin-top:0;">{% if mpa.country %}{% url 'nation-info' mpa.nation.iso3code as nationurl %}{% if nationurl %}<a href="{{ nationurl }}">{% endif %}{% if mpa.nation.name %}{{ mpa.nation.name }}{% else %}{{ mpa.country }}{% endif %}{% if nationurl %}</a>{% endif %}{% endif %}{% if mpa.sub_location %}: <span style="font-size:.9em;">{{ mpa.sub_location }}</span>{% endif %}</h4>
                    
                    <div class="sidebar_item_title h4">Site Description</div>
                    <div class="sidebar_item_content clearfix">
                        {% if mpa.summary %}
                            <p>
                                {{ mpa.summary|safe }}
                            </p>
                        {% endif %}
                        {% if mpa.wikiarticle %}
                            <p>
                                {{ mpa.wikiarticle.title }}
                                <br />
                                from wikipedia: <a href="{{ mpa.wikiarticle.url|safe }}">{{ mpa.wikiarticle.url|safe }}</a>
                            </p>
                                {{ mpa.wikiarticle.summary|safe }}
                        {% endif %}
                    </div>

                    {% comment %}
                    <div class="sidebar_item_title h4">Nearby Sites</div>
                    <div class="sidebar_item_content">
                        Showing nearest 5 MPAs (&lt; 500km away)<br />
                        {% for nearmpa in mpa.getnearbyareas %}
                            {{ nearmpa.name }}: {{ nearmpa.distance.km }} km<br />
                        {% endfor %}
                    </div>
                    {% endcomment %}
                    <div class="sidebar_item_title h4">Contacts &amp; Resources</div>
                    <div class="sidebar_item_content">
                        {% if mpa.contact %}
                            <div>
                                {% if mpa.contact.agency %}<span style="font-weight:bold;">{{ mpa.contact.agency }}</span>{% endif %}
                                <div style="margin-left:10px; color:#666;">
                                    {% if mpa.contact.url %}<a href="{{ mpa.contact.url }}">{{ mpa.contact.url }}</a>
                                    <br />{% endif %}
                                    {% if mpa.contact.address %}{{ mpa.contact.address|safe|linebreaksbr }}{% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="sidebar_item_title h4">Data Sources</div>
                    <div class="sidebar_item_content">
                        {% if mpa.wdpa_id %}
                            <p>
                                Original data record from World Database on Protected Areas (WDPA) via ProtectedPlanet.net <a href="http://www.protectedplanet.net/sites/{{ mpa.wdpa_id }}" target="_blank">[view record on site]</a>.
                            </p>
                        {% endif %}
                        {% if mpa.usmpa_id %}
                            <p>
                                Original data record from <a href="http://www.mpa.gov">US MPA Center</a>.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="leftcol" class="col-sm-4 col-sm-pull-8">
                
                    {% if mpa.no_take|lower == "all" %}
                        <div class="protection_level notake">No-Take Reserve</div>
                    {% endif %}
                    {% if mpa.no_take|lower == "part" %}
                        <div class="protection_level partnotake">Some No-Take Zones</div>
                    {% endif %}

                <div id="siteinfotitle" class="sidebar_item_title h5 clearfix">Site Information
                    {% if user.is_authenticated %}
                            <a class="btn btn-xs btn-warning button editbutton" href="edit" style="float:right; color:white; margin-right:8px;">Edit</a>
        	        {% else %}
        	            <a class='user_loginlink button editbutton' href="#login" style="float:right; color:white; margin-right:8px;">Edit</a>
        	        {% endif %}
        	    </div>
            	<div id="siteinfo" class="sidebar_item_content siteinfo collapsed">
            		<ul class="infolist" style="list-style:none; margin:0; padding:0;">
                    {% for key, value in mpa.display_fields_list %}
                        <li> <strong class="name">{{ value.verbose }}</strong>: <span class="value" style="margin-left:4px;">{{ value.value|truncatewords:20 }}</span></li>
                    {% endfor %}
                    </ul>
                    <a id="infoexpander" class="infoexpander" style="display:block;" href="#" onclick="return false;"><span class="expander"><span style="font-style:normal;">&dArr;</span> See all data records for this site</span><span class="collapser"><span style="font-style:normal;">&uArr;</span> Show less</span></a>
            	</div>
            	<div id='leafletmap'></div>
            </div>
            
        </div>
    </div>
    <!-- <div class="clear"></div> -->

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
