{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ country.name }}{% endblock %}

{% block base_head_extra %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" /><![endif]-->

<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" />

<link href="{{ STATIC_URL }}css/sitedetail.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    require.config({
        baseUrl: '{{ STATIC_URL }}js',
        paths: {
            jquery: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min',
            jqueryui: '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min',
            leaflet: 'http://libs.cartocdn.com/cartodb.js/v3/3.12.12/cartodb',
            //leaflet: '//cdn.leafletjs.com/leaflet-0.7.3/leaflet',
            //leaflet: '{{ STATIC_URL }}Leaflet/leaflet',
            json2: '//ajax.cdnjs.com/ajax/libs/json2/20110223/json2',
            underscore: 'underscore-min',
            backbone: 'backbone-min',
            bootstrap: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min'
            //underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min', // versions pre 1.3.0 have problems when used with backbone via requireJS
            //backbone: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min'
        },
        //priority: ['jquery']
		priority: [
			// 'leaflet'
		],
		waitSeconds: 30,
        shim: {
            'underscore': {
                exports: '_'
            },
            'backbone': {
                deps: ['underscore', 'jquery'].concat(!(typeof JSON !== 'undefined' && typeof JSON.stringify === 'function') ? ['json2'] : []),
                exports: 'Backbone'
            },
            'jqueryui': ['jquery'],
            'bootstrap': ['jquery'],
            'leaflet': {
                exports: 'cartodb',
            },
            'leafclusterer': ['leaflet'],
            'TileLayer.Bing': ['leaflet'],
            'leaflet_utils': ['leaflet'],
            'leaflet_maptip': ['leaflet']
        }
    });
    require([
        'prep',
        'sitedetail',
        'jquery',
        'jqueryui',
        'bootstrap'
    ], function(Prep, SiteDetail) {
        $(function() {
            Prep.preparePage();
            var site_id = {{ country.pk }},
                feature_url = '{% url 'country-geojson' country.iso3code %}?simplified=true',
                is_point = {% if country.is_point %}true{% else %}false{% endif %},
                point_within = [],
                bbox = [];
            window['sitedetail'] = new SiteDetail.SiteDetail($('#leafletmap'), {{ country.pk }}, feature_url, is_point, point_within, bbox);
        });
    });

</script>
{% endblock %}

{% block base_body_content %}
    <div class='modetoggle medium' style="float:right;">
        <a class="modebutton" href="/explore/">Map View</a><a class="modebutton" href="/explore/?list=1">List View</a>
    </div>
    <div class="clear" style="clear:both;"></div>
    
    <div id="leftcol" style="float:left; width:34%;">
        <div style="border:1px solid black; border-radius:8px; padding:8px; margin-bottom:8px; background-color:#3C6289; color:white;">
            <span style="text-transform:uppercase;">Total Marine Estate:</span>
                <div style="margin-left:12px;">
                {{ country.marine_area|floatformat:1|intcomma }} km²<br /><em>(Exclusive Economic Zone including territories)</em>
                </div>
            <br />
            <span style="text-transform:uppercase;">Marine Protected Area Coverage:</span>
                <div style="margin-left:12px;">
                {{ country.mpa_percent|floatformat:2 }}% ({{ country.mpa_area|floatformat:1|intcomma }} km<sup>2</sup>) in {{ country.mpas.count|intcomma }} MPAs
                </div>
                <div style="margin-left:12px;">
                {% if country.notake_percent %}{{ country.notake_percent|floatformat:2 }} ({{ country.notake_area|floatformat:1|intcomma }} km<sup>2</sup>){% else %}? {% endif %}% in No-Take Reserves
                </div>
        </div>
	    
	    <div class="sidebar_item_title">National MPA Contacts &amp; Resources</div>
    	<div class="sidebar_item_content">
    	    {% if country.mpa_agency %}
                <p>
                    {{ country.mpa_agency|safe }}
                </p>
            {% endif %}
    	</div>
	    
    	<div id='leafletmap'></div>
    </div>
    <div id="rightcol" style="float:right; width: 66%;">
        <div style="padding: 8px;">
            <p class="heading clear" style="margin:0px; padding:0; font-size:32px; line-height:38px; margin-bottom:0px; color:#de744a;">
                {{ country.name }} <span style="font-size:0.6em;">({{ country.iso3code }})</span>
            </p>
            
            <div class="sidebar_item_title">Country Summary</div>
        	<div class="sidebar_item_content">
        	    {% if country.summary %}
                    <p>
                        {{ country.summary|safe }}
                    </p>
                {% endif %}
                {% if country.wikiarticle %}
                    <p>
                        {{ country.wikiarticle.title }}
                        <br />
                        from wikipedia: <a href="{{ country.wikiarticle.url|safe }}">{{ country.wikiarticle.url|safe }}</a>
                    </p>
                        {{ country.wikiarticle.summary|safe }}
                {% endif %}
        	</div>
        	
        	<div class="sidebar_item_title">Marine Protected Areas in {{ country.name }}</div>
        	<div class="sidebar_item_content">
        	    <p style="font-style:italic">{{ country.mpas.count }} MPAs:</p>
        	    <p>
        	    {% for mpa in country.mpas %}
        	        <a class="normal" href="{% url 'mpa-siteinfo' mpa.pk %}">
        	            <span style="font-size:1.1em; font-style:normal;">{{ mpa.name }}</span> {% if mpa.designation_eng %}{{ mpa.designation_eng }} {% endif %}{% if mpa.designation_eng != mpa.designation %}({{ mpa.designation }}){% endif %}
        	        </a>
        	        {% if not forloop.last %}<br />{% endif %}
        	    {% endfor %}
        	    </p>
        	</div>

            <div class="sidebar_item_title">Other Marine Managed Areas in {{ country.name }}</div>
            <div class="sidebar_item_content">
                <p style="font-style:italic">{{ country.others.count }} Marine Managed Areas:</p>
                <p>
                {% for mpa in country.others %}
                    <a class="normal" href="{% url 'mpa-siteinfo' mpa.pk %}">
                        <span style="font-size:1.1em; font-style:normal;">{{ mpa.name }}</span> {% if mpa.designation_eng %}{{ mpa.designation_eng }} {% endif %}{% if mpa.designation_eng != mpa.designation %}({{ mpa.designation }}){% endif %}
                    </a>
                    {% if not forloop.last %}<br />{% endif %}
                {% endfor %}
                </p>
            </div>
        	
    	</div>
    </div>
    <div class="clear"></div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
