{% extends "base.html" %}

{% block title %}Countries - list{% endblock %}

{% block base_body_content %}
    <p class="heading" style="margin:0px; padding:0; font-size:24px; line-height:28px;">
        Country List
    </p>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
    {% if country_list %}
        <ul class="row" style="list-style: none; margin:0; padding:0;">
        {% for country in country_list %}
            <li class="col-xs-6 col-sm-4 col-md-3" style="min-height:5em; border:1px solid #ccc; padding: 12px;"><a href="{{ country.get_absolute_url }}" style="text-decoration:none;"><span style="font-size:1.2em;">{{ country.name }}</span> {% if country.iso3code %}<em>({{ country.iso3code }})</em>{% endif %}</a></li>
        {% endfor %}
        </ul>
    
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No countries found.</p>
    {% endif %}
{% endblock %}